[2013-09-04 00:29] jkburges opened #9 "sql error when uploading events/detections with a station name containing apostrophe"
1) Upload detection file which has station name containing apostrophe, e.g. http://aatams.emii.org.au/aatams/receiverDownloadFile/show/70615542 (spider's ledge)

A `org.postgresql.util.PSQLException` is thrown.

We should be escaping/quoting things properly.

[2013-10-13 22:25] jkburges opened #31 "Reconcile uploaded files with what is in DB"
For various reasons, some uploads have failed when they should've passed.

We should probably have an analyse of these, and re-process them, given that some bugs etc have now been fixed and they may now pass.

[2013-11-10 22:04] kereid opened #42 "Error encountered uploading data on 29/10"
This issue is probably related to #29 but seen by a different person loading up different things? so am logging it so it's on record as being reported, and then I can follow up with James and maybe Stephanie when issue #29 is resolved.

Email from James for the record:

Thanks for the email regarding the database issues we are facing. I just would like to clarify that it is not only the project ma

[2013-11-26 04:56] kereid opened #55 "Incorrectly accessible detections when logged out"
Reported by Andrew Boomer on behalf of Malcolm Francis (NIWA)

This will need investigation into when AB detections were uploaded to see if they were before the bug was fixed that was not associating detections and tags if they were entered in the "wrong" order. Could be a left over from that and require a big tidy up, or it may be a re-introduced bug.

Steps to reproduce:

From notification email

[2013-11-28 04:04] kereid opened #56 "Missing Tag detections from Receiver"
Hi Kate,

I have just been entering tags for the project VIC Fisheries Snapper- Port Phillip Bay. I have entered 140 tags and have completed tag releases for all of them.

When I search for tag detections under this project it comes up with 230 detections all received on the station 01 Gellibrand. The receiver ID for the 01 Gelibrand station is 107481. When I look at the Vemco Database file that w

[2014-01-05 23:04] danfruehauf opened #62 "Quartz scheduler control from configuration file"
Due to having a slow RC environment, we require support to disable the materialized views creation, otherwise the slow RC environment just die while trying to do that.

[2014-01-29 02:33] jkburges opened #65 "Receiver Export sort by "uploader" results in exception"
The following exception occurs when sorting by uploader, as a non-admin user:

[code]

**Steps to reproduce:**
1. Log in as **non-admin** user.
2. Go to: https://aatams.emii.org.au/aatams/receiverDownloadFile/list
3. Click column heading "Uploader" twice.

**What happens:**
The above exception occurs.

**What should happen:**
The receiver export list should be sorted (desc) by uploader.

[2014-02-12 06:18] xhoenner opened #70 "Wrong values in num_deployment in installation_station table"
Steps To Repeat:
Connected to aatams3, wanted to list the name of all installation stations, along with their corresponding number of deployments and number of detections. Ran the following SQL to do this:

SELECT installation_station.name AS station_name,
   installation_station.num_deployments AS no_deployments,
   COUNT(*) AS no_detections
   FROM aatams.valid_detection
   FULL JOIN aatams.rece

[2014-02-18 00:38] jkburges opened #72 "Ideas for improving AATAMS' performance"
Ref: https://github.com/aodn/aatams/pull/71

We should be able to speed things up *and* simplify the code a lot by implementing some of the following recommendations.  My initial (but brief) prototyping has demonstrated that the following suggestions are feasible.

1. **Load detections in to DB directly using PostgresQL's `COPY` command**
    - one table which mirrors the info exactly from the upl

[2014-05-06 00:20] kereid opened #80 "Stations not visible under a project even with Read/Write access"
Reported by James van den Broek:

Stations belong to projects.
People must be added to projects to see station names.

James was a member of the UQ Manta Ray project.

In "Create receiver deployment" James clicked the station drop down or started typing to auto complete.

Stations belonging to the project such as LEI_LHB, LEI_Groupler did not appear

Removed James as a member of project, added him

[2014-09-12 05:06] dnahodil opened #102 "Tag Detections page times out"
Using the site today the Tag Detections page (https://aatams.emii.org.au/aatams/detection/index) wouldn't load and timed out. Possibly as a result of the performance of the materialised view.

[2014-09-17 05:50] jkburges opened #106 "Deletion of receiver exports resulting in error"
Deletion of detection exports, and their associated detections, fails - or at least appear to the user to have failed.

**Steps to repeat**
1. Sign in and navigate to the "Receiver Exports" screen.
2. Select "info" symbol for the particular export (currently trying to find out which exports this affects).
3. Click "Delete".

**What should happen**
The export should be deleted, along with all of it

[2014-10-03 06:22] jkburges opened #115 "Duplicate valid detections"
I've discovered this whilst trying to create a unique index on `timestamp, receiver_name, transmitter_id` (which should indeed be unique) - there are some duplicates though.

e.g.

[code]

gives `2` instead of the expected `1` (or `0` if there's no match).

[2014-10-28 00:32] jkburges opened #119 "Problem entering tags with no pinger"
There may be a problem entering tags which don't have a PINGER, e.g. only TEMP and/or ACCELEROMETER.

Email from Andrew:

[2014-11-03 23:51] xhoenner opened #122 "'species' table missing taxonomic information for some tagged animals"
Some animals that have been tagged don't have a scientific_name, family, genus, or common_name linked to them. The column 'name' in the species has some information for some animals, but for some others it is null or incorrect (e.g. 'range test tag 200m, 37018036, example, example1)

Steps to reproduce:
  SELECT a.id,
    a.version,
    a.sex_id,
    a.species_id,
    s.*
  FROM animal a
  JOIN sp

[2014-11-04 00:23] xhoenner opened #123 "Some animals listed in the 'animal' table are not listed in the 'animal_release' table"
Steps to reproduce:
[code]

[2014-11-04 03:58] xhoenner opened #133 "receiver_deployment_id associated with multiple receiver_name in valid_detection table"
Steps to reproduce:
 * Create receiver named R1
 * Create a deployment D with receiver R1 and create also a recovery
 * Upload detections corresponding to receiver R1
 * Make sure detections are valid for R1 (`select count(*) from valid_detections where receiver_name='R1'`)
 * Create receiver named R2
 * Associate deployment D (same one from above) with receiver R2
 * Upload detections correspondi

[2014-11-12 01:22] jkburges opened #136 "Detection filtering performance and the materialised view"
## Summary

To summarise, currently reads related to detections are done from a materialised view (`detection_extract_view_mv`).  This is (relatively) fast, but suffers from the following problems:

  * inconsistent data
  * DB disk bloat
  * DB size roughly doubled (even when not 'bloated')

Or in lolcat:

![image](https://cloud.githubusercontent.com/assets/1849176/5005823/f4b9abf2-6a8a-11e4-909d

[2014-11-20 05:18] dnahodil opened #145 "User can't see detections for Tag they own"
Via the helpdesk. Reported by [Paul Butcher](https://aatams.emii.org.au/aatams/person/show/30369904)

Was the user logged in at the time?

[2014-12-02 02:08] jkburges opened #151 "Report on unknown tags"
Here's some adhoc SQL to report on the list of tag IDs appearing in the uploaded detections which are otherwise unknown to the DB:

[code]

[The results of running the query are here...](https://gist.github.com/jkburges/1760c96abc96f5220c85)

Note: there are about ~5700 unknown tag IDs out of the ~8700 distinct tag IDs appearing in the DB.

[2014-12-02 02:19] jkburges opened #152 "Report on tags which are currently embargoed"
SQL:

[code]

[2014-12-15 00:58] dnahodil opened #156 "Remove detections count from view page"
Spawned from #113 which actually covered 2 different (but related) issues.

This issue about the count being shown on the page in the webapp being incorrect due to an embargo being applied. The count does not respect the embargo and so might be bigger than the number of results actually visible to the user.

To make this count accurate we would need to apply embargo logic in the database. @pblain

[2014-12-19 04:35] dnahodil opened #157 "Failed login should give friendly error message"
**Steps to reproduce**
Try to log in but use incorrect credentials

**What happens**
You get an application error page

**What should happen**
You get a user-friendly message on the login form

[2015-01-07 03:43] #119 closed

[2015-01-19 04:51] xhoenner opened #165 "Add receiver model"
Unable to add new receiver to the database because the model doesn't exist yet, the model is called VR2-AR.

Contact Andre (Andre.Steckenreuter@sims.org.au) for more info.

[2015-01-21 05:51] #157 closed

[2015-01-23 01:14] jkburges opened #170 "KML export for detections is disabled"
... or at least it will be, when https://github.com/aodn/aatams/pull/169 is released.

The decision was made to disable KML export for detections - it was proving too difficult to get this working in the context of the new protected species feature.

The current "pipeline" for extracting detections from the database, applying security restrictions and then rendering as either HTML, CSV or KML is a

[2015-01-27 22:46] jkburges opened #175 "Sysadmin email address list is manually configured"
... outside of the app.

There's no reason why the app *shouldn't* just be able to get the list of sysadmin emails that it already has and use that.

This avoids the sysadmin users that aatams knows about and the mailing list getting out of sync.

[2015-01-28 05:13] dnahodil opened #176 "Incorrect authorisation with multiple browser windows"
**Steps to reproduce**
1. Go to https://aatams-systest.aodn.org.au/aatams/ in a browser window ("window 1")
2. Go to https://aatams-systest.aodn.org.au/aatams/ in a different browser window ("window 2")
3. Sign in in window 1
4. Refresh window 2

**What does happen**
User is signed-in in window 2

**What should happen**
User remains unauthorised in window 2

[2015-01-28 05:24] dnahodil opened #177 "NullPointerException from VisibilityControlFilters"
**Steps to reproduce**
* Log in as a user
* On the animal release list click on the (i) next a release that the user owns (*my release was protected but I'm not sure if that matters*)
* Click the 'edit' button
* Click the 'update' button (you don't need to change any fields)

**What should happen**
No errors in server log

**What does happen**
A NullPointerException is logged

[2015-01-28 05:39] dnahodil commented on #177
<pre>
2015-01-28 16:37:49,566 [http-8080-1] [admin] ERROR GrailsExceptionResolver - Exception occurred when processing request: [POST] /aatams/animalRelease/index - parameters:
releaseDateTime_hour: 14
releaseDateTime_minute: 15
project.id: 174
captureLocation_lon: 10.1234
captureLocality: Neptune Islands
releaseDateTime_zone: Australia/Hobart
embargoDate: date.struct
speciesName: 37010003 - Carch

[2015-01-28 21:58] jonescc commented on #145
Unable to reproduce this on a copy of the production database, using what I think is the current production software logged in as Paul Butcher.  I'm able to see all 17 detections in the csv file and through the user interface.

The detections were uploaded in September and the problem reported on the 20th November so its unlikely an issue with the materialised view not having been refreshed at the

[2015-01-28 22:06] kereid commented on #145
Ok I will email him to find out :-)

[2015-01-29 00:44] jonescc opened #178 "Refresh after clearing filter on Tag Detection List takes 1 minute in Systest"
To reproduce, add a filter wait until results are returned and then clear the filter and then wait for the results to be returned.

It takes around 1 minute for the unconstrained results to be returned

It should take as long as it took to display the unconstrained page when going to the tag detection list for the first time.

[2015-01-29 04:10] dnahodil opened #179 "Error page when editing Project as project administrator"
**Steps to reproduce**
Log in as a user with administrator and read/write access to a Project
View that Project from the list
Click the 'edit' button

**What should happen**
Taken to edit screen

**What does happen**
An error page is displayed

[2015-01-30 05:50] jkburges opened #180 "Receiver event export times out"
**Steps to reproduce**
1. Go to https://aatams-systest.aodn.org.au/aatams/receiverEvent
2. Click 'CSV' export button.

**What should happen**
A CSV file should be downloaded.

**What does happen**
The request times out.

[2015-01-30 05:52] jkburges commented on #180
I think this has got something to do with code in `QueryService` and `ReceiverEventExportService` no longer playing well together.  Specifically, `ReceiverEventExportService` (or indeed its superclass) is expecting the count of number of rows returned in the result set, whereas `QueryService` is returning the *total* number of rows (i.e. not just for that "page", or without the `limit` clause).

[2015-02-03 05:10] dnahodil commented on #165
This has been added. Should be available in next release.

[2015-02-03 05:10] #165 closed

[2015-02-04 00:58] xhoenner opened #191 "Download when pressing Enter on the 'Tag Detections' page"
<h3> Steps to reproduce: <h3>

Go to https://aatams.emii.org.au/aatams/detection/list.
Copy and paste that tag id in the 'tag ID' field: A69-1303-124.
Instead of selecting with the mouse one tag from the drop down menu, hit Enter.

<h3>What happens: <h3>

Hitting Enter downloads all the detection for that tag as a csv file.

<h3>What should happen: <h3>

The list of detections should be updated to

[2015-02-04 01:36] anguss00 commented on #177
I'm on this

[2015-02-04 01:37] dnahodil commented on #177
Bad news, @anguss00. I'm on it. Sorry :)

[2015-02-04 01:41] anguss00 commented on #177
I'm not on this ;-)

[2015-02-04 01:41] anguss00 commented on #179
I'm now on this

[2015-02-04 02:37] jkburges commented on #179
With reference to https://github.com/aodn/aatams/blob/master/doc/AATAMS%20User%20Interface%20Specification%20(post%20data%20committee).pdf, I think that only PIs should be able to edit projects.  i.e. the edit button should only be visible to sys admins and PIs on a particular project.

If someone tries to go directly to the edit URL for a project they are not authorised to edit, it should redirec

[2015-02-04 03:54] dnahodil commented on #178
This seems like it might have been resolved by our recent changes, @jonescc. Would you mind confirming?

[2015-02-04 04:55] kereid opened #193 "Tag ID's not showing up in DB"
Reported by Andre on behalf of Jayson Semmens:

During the latest downloads of the Maria Island and Cape Barren arrays, the attached tag IDs were detected by receivers and do show up in the corresponding downloaded vrl files. However, after uploading them, Jayson didn’t get any confirmation.

Wasn’t that an issue with other people and related data not long ago? Would you mind looking into this, pl

[2015-02-05 01:44] jkburges commented on #193
Ref: https://aatams.emii.org.au/aatams/receiverDownloadFile/show/43698926

[2015-02-05 01:49] #177 closed

[2015-02-05 02:16] jkburges commented on #193
"... after uploading them, Jayson didn’t get any confirmation" - I'm not quite sure exactly what this means - does it mean that he didn't get emails about new detections for his tags?  Was the tag metadata in the DB at the time the receiver data was uploaded (31/01/2013, by Andre) - this is required so that the system knows who to notify.

@kereid can we please follow up on this, it's not clear to

[2015-02-05 02:17] jkburges commented on #178
My guess is that it's resolved because of the removal of counting...

[2015-02-05 02:22] jonescc commented on #178
Yep resolved.

[2015-02-05 02:22] #178 closed

[2015-02-05 02:57] jkburges commented on #42
Closing this.  Trying to upload the "project manta" file results in an error: "Incorrect format for Date/Time expected yyyy-MM-dd HH:mm:ss Z" which is correct given the date format used in the file (e.g. 13/09/2007 12:38)

[2015-02-05 02:57] #42 closed

[2015-02-05 04:34] #180 closed

[2015-02-05 04:36] dnahodil commented on #102
Resolved by #167

[2015-02-05 04:36] #102 closed

[2015-02-05 05:15] anguss00 commented on #106
I will take this ring to Mordor

[2015-02-05 05:53] dnahodil opened #197 "Failing integration tests"
There is an integration test that fails on @dnahodil's dev machine and Jenkins, but is fine on @jkburges' machine and Travis.

The problem test is `QueryServiceTests.testBetweenRestriction()`

<pre>
junit.framework.AssertionFailedError: junit.framework.AssertionFailedError: expected:<9> but was:<0>
	at au.org.emii.aatams.filter.QueryServiceTests.assertContainsAll(QueryServiceTests.groovy:416)
	at

[2015-02-06 01:52] dnahodil commented on #197
**Some troubleshooting results**

The code:
<pre>def sql = new Sql(dataSource)
def dateFormat = new SimpleDateFormat("yyyy/MM/dd HH:mm:ss z")
def cal = Calendar.instance

println TimeZone.default.ID
println dateFormat.format(cal.time)
sql.eachRow('select now()') { row ->
    println row
}</pre>

Output from Jerkins/my machine (tests fail)

2015/02/06 12:38:53 AEDT
[now:2015-02-06 12:38:53.957375]

[2015-02-06 03:49] jkburges commented on #197
So, is that specifically why the test is failing, i.e. the different timezone abbreviation?

[2015-02-06 05:16] jkburges commented on #56
Ref: https://aatams-systest.aodn.org.au/aatams/receiverDownloadFile/show/38993069

[2015-02-06 05:19] jkburges commented on #56
List of "unknown receivers" in the export:

<pre>VR2-4715, VR2W-114832, VR2W-107487, VR2W-107515, VR2W-107508, VR2-6412, VR2-7302, VR2W-114827, VR2W-114823, VR2W-114829, VR2-4780, VR2W-107512, VR2-6441, VR2W-107504, VR2W-108126, VR2W-108128, VR2-7297, VR2W-107489, VR2W-107478, VR2W-114833, VR2-4713, VR2W-107488, VR2W-107485, VR2-7314, VR2-6434, VR2-7313, VR2W-107509, VR2-4711, VR2W-114828, VR2-731

[2015-02-06 05:32] jkburges commented on #56
Receivers known to DB:
<pre>"VR2W-108126"
"VR2W-107479"
"VR2W-107478"
"VR2W-114832"
"VR2W-107487"
"VR2W-107509"
"VR2W-107515"
"VR2W-107493"
"VR2W-114827"
"VR2W-107508"
"VR2W-114828"
"VR2W-107486"
"VR2W-107489"
"VR2W-114833"
"VR2W-107477"
"VR2W-107498"
"VR2W-107488"
"VR2W-114823"
"VR2W-107480"
"VR2W-114824"
"VR2W-107512"
"VR2W-108128"
</pre>

[2015-02-06 06:00] jkburges commented on #56
Based on the above, I'd say that the low number of detections is due to two different things:

1. receivers not known the DB, i.e. those with a blank "known" column in https://github.com/aodn/aatams/issues/56#issuecomment-73185178
2. receiver meta data being entered *after* the detection file was uploaded

[2015-02-06 06:09] #136 closed

[2015-02-09 22:47] dnahodil commented on #197
No, it's not to do with the abbreviation AFAIK.

[2015-02-10 01:03] jkburges opened #198 "Password reset"
We get many requests to reset passwords.

A password reset is desirable because:
1. users can do it themselves, without requiring manual intervention from sysadmins
2. it is more secure, as it doesn't involve sending passwords to users over email

[2015-02-10 05:59] dnahodil commented on #197
Ok, @jkburges was right. The timezone wasn't failing the test -as in a string comparison or something- but it was causing a String -> Date parse to give different results.

The cause is that my machine has Java version 1.7.0_75 which comes with the [IANA timezone database](http://www.iana.org/time-zones) version 2014j while Travis has Java version 1.7.0_u65 which has version 2014c of the timezone

[2015-02-11 00:34] #197 closed

[2015-02-11 02:41] #9 closed

[2015-02-16 22:04] kereid commented on #145
Still waiting for him to respond

[2015-02-17 03:02] jkburges opened #202 "Recoveries not showing for certain deployments"
Some deployments are showing up as having no associated recovery, even though the recovery has been entered.

**Steps to reproduce**
1. Search for receiver "VR2W-101759" (this is but one example)
2. Click on "VR2W-101759 (Receiver)" at the top of the search results.

**What does happen**
Note there are two (as at 17/02/2015) deployments showing without associated recoveries.

**What should happen*

[2015-02-17 03:29] jkburges commented on #202
I *think* what has happened here is that the user "Andrew Boomer" has been removed from a number of projects (i.e. certain "project_roles" have been deleted).  `Recoveries` belong to project_roles, and hence these have been deleted too.

We can probably recover what's been deleted from backups, but we need to have specified what's the correct behaviour for this use case (i.e. were someone is remov

[2015-02-17 03:32] jkburges commented on #202
/cc @danfruehauf @pblain we have backups going back to 2015.01.23.05.19.59 from which we can probably recover the deleted info, but it would require a little bit of SQL hacking (not too much, hopefully).

I have "kept" the oldest backup at "jkburges@8-nec-hob:/var/backups/kept_backups".  Otherwise, I have the non-deleted stuff on my local machine, and it's also at 3-aws-syd.

[2015-02-17 03:42] danfruehauf commented on #202
VIT?

[2015-02-17 04:05] kereid commented on #202
Andrew Boomer was only deleted from the projects yesterday 16/02/15

[2015-02-17 05:26] jkburges commented on #202
That's good.  I *think* that it should be fairly easy to recover/migrate
the data from backups - and IMO, it should be a VIT.  The question remains
though how to handle this use case properly.  I can't remember *why*
recoveries are owned by project_roles and not simply by users (in which
case, this problem wouldn't exist, as the user in this case has not been
removed).  I'll take a look at the cod

[2015-02-17 23:34] kereid commented on #202
From Andre: I was reviewing the member list yesterday and deleted some double entries and added new people. I came across Andrew Boomer and that he still has read/write access to several projects.

Confirming that by double entries he meant he deleted those that were in the database twice under different usernames.

They were:

Ian Jonsen
Michael Lowry
Richard Pillans
Thomas Stieglitz

I also took

[2015-02-17 23:55] jkburges commented on #202
Sql/commands used for recovery:

[code]

[2015-02-18 00:07] jkburges commented on #202
@kereid I *think* the data is restored in production now, but can you please get Andre to check from his end.  I haven't done anything around the deleted users (in terms of restoring data) - so he might want to do some extra checking there (i.e. were there any uploads, recoveries etc "owned" by those users).

As far as the unrecovered deployments for AATAMS Heron Island, there are still some but t

[2015-02-18 00:50] kereid commented on #202
Andre has responded that it all looks good and to let all know involved he is very sorry - should have checked first.

[2015-02-18 00:55] jkburges opened #204 "Delete functionality is temporarily disabled"
... as otherwise it's pretty easy to inadvertently destroy data (see https://github.com/aodn/aatams/issues/202 for an example)

The main idea I have of how "delete" could be done better, is to do "soft" deletes, i.e. mark records as `deleted`, so that they can be hidden from users, but remain in the db.  This would avoid unexpected cascading deletes, as in #202, and also make it much easier to rec

[2015-02-18 06:12] #106 closed

[2015-02-18 06:12] #179 closed

[2015-02-20 00:27] xhoenner opened #208 "Some transmitters re-deployed several times have the same tag_id"
<h3> Steps to reproduce </h3>
[code]

Additionally, go to https://aatams.emii.org.au/aatams/detection/list, and download detections for Tag ID A69-1303-10691. Sort the resulting CSV by ascending timestamp.

<h3> What happens? </h3>
The results of the SQL query produces two rows, which is fine, aside from the fact that the tag_id is the same for both, which gives you for the same tag_id two differe

[2015-02-23 04:07] xhoenner commented on #122
@jkburges not sure what you mean here, running the following query still returns 66 records.

SELECT * FROM species
WHERE spcode IS NULL

[2015-02-23 23:24] dnahodil commented on #122
@jkburges was talking about trying to find the source of the bad data. He wasn't able to reproduce the bug that we think is causing these data errors.

[2015-02-24 02:06] xhoenner commented on #122
@dnahodil @jkburges what's the way forward then?

[2015-02-24 02:27] dnahodil commented on #122
@xhoenner we could go and look at the logs and see if the information that @jkburges added will give us any insight into where it is occurring. His logging might help us work out where the problem is or, if there is no information in the logs, it might mean that the problem doesn't occur anymore.

We can run a database update to clean up the bad data but if the problem is still occurring then we w

[2015-02-25 05:18] xhoenner commented on #122
Makes perfect sense Dave, thanks for clearing things out!

Yes I believe they have reviewed the AATAMS bugs. This one though wouldn't be a high priority and therefore is unlikely to be addressed in the next little while. Could we get rid of these duplicates for now to have a clean slate and monitor if they reappear in the future?

[2015-02-25 23:42] dnahodil commented on #122
I don't reckon we will be able to do that unless it gets a priority bump sorry, @xhoenner. If we are going to modify production data we'd be writing migration scripts so we can review them, test them somewhere, and only then run them on the production data. So it wouldn't be just a quick bit of SQL ninja skills.

If this bad data is causing you problems for your work (and I can understand that it

[2015-03-10 03:04] kereid opened #209 "Editing a tag results in a duplicate being created"
Alicia Schmit-Roach originally reported this in #119 however it was such a convoluted issue that it got closed with the issue of duplication still outstanding.

Steps to reproduce:

Go into a tag to edit that is entered as a pinger and change to accelerometer or pressure.

What should happen:

Tag is updated

What does happen:

Tag is saved as a duplicate.

These are some Tags Alicia has sent thro

[2015-03-19 04:16] xhoenner commented on #193
I downloaded that detection file, which is made of 65 detections from 4 distinct transmitters.
I then had a look in the web app and could find all these detections when looking for those transmitters in the Tag Detection page.

As @jkburges not sure what the issue is, is it that Jayson didn't get a confirmation after having uploaded his file? @kereid would you mind sending Andre an email asking hi

[2015-03-19 04:22] xhoenner commented on #145
@kereid: :+1:, tried the exact same thing and could retrieve all 17 detections, should we close that bug as Paul still hasn't responded to your email?

[2015-03-19 04:32] xhoenner commented on #208
This bug is still current, @jkburges any idea how that could potentially be resolved?

[2015-03-27 00:41] ktattersall commented on #145
@kereid @xhoenner I think we can close this if we haven't heard back from Paul, and if we can't reproduce the bug.

[2015-03-27 00:43] kereid commented on #145
Sorry I had that on my list from @xhoenner 's requests last Thursday, yep will close if was still broken I believe he would have followed up again.

[2015-03-27 00:43] #145 closed

[2015-03-27 00:44] kereid commented on #193
@xhoenner I'll email him now and see if he can provide more info.

[2015-03-27 00:47] ktattersall commented on #56
@kereid have you had an opportunity to contact Andre about this? If not, would you like me to follow up?

[2015-03-27 00:54] ktattersall commented on #80
@dnahodil just checking if this has been resolved by work on #196? Can we close this issue?

[2015-03-27 01:01] kereid commented on #56
Oh no must have missed that one, I'll ask him to have a look into it.

[2015-03-27 01:03] ktattersall commented on #55
@jkburges @kereid Do you know if this issue has been resolved by the materialised view work? If so, can we close it?

[2015-03-27 01:05] dnahodil commented on #80
If I recall, @jkburges thought something else might be going on in this issue so the resolution for #196 probably wouldn't be enough. We'll have to see if we can reproduce this issue to see if the other work has changed anything.

[2015-03-27 01:05] jkburges commented on #55
Probably - but it's worth verifying I think.

[2015-03-27 01:29] ktattersall commented on #115
Do you know if this issue been resolved by #134 and/or  #136, @jkburges ?

[2015-03-27 04:48] ktattersall commented on #62
Is this a current issue @danfruehauf ?

[2015-03-27 04:54] ktattersall opened #210 "Automatic upload of VRL files"
This enhancement would make it easier and much less time consuming for researchers to enter bulk data into the database.

The argument for VRL upload is:Andre's argument was:

- VRL upload would get millions of detections added to the database (from WA fisheries and Cleveland Bay Qld, not IMOS funded recievers) and solve some errors associated with human entry of data
- There's lots of pain and mo

[2015-03-27 06:00] ktattersall opened #211 "Add total detections to Tag Detection List"
In the AATAMS web app, Andre has requested that the total number of detections (of each tag, or for each receiver?) be added to the 'Tag Detection List'. I have emailed him for more information.

[2015-03-27 06:00] danfruehauf commented on #62
Na, can be closed.

[2015-03-27 06:00] #62 closed

[2015-04-08 00:02] ktattersall commented on #211
Update: "You know how we could always see the TOTAL number of detections of the whole database in that section in the past, e.g. 54 million? With the last release the view has changed so that it only displays the first 100 records only and the total number is no longer visible at the top"

[2015-04-08 02:21] kereid commented on #55
@jkburges is that verification from our end or Andre?

[2015-04-08 03:28] jkburges commented on #55
Either really.

[2015-04-08 23:30] astecken commented on #211
test

[2015-04-29 00:09] jkburges opened #212 "Outline of changes for joining 'on-the-fly' detection validity"
[WIP]
An outline of TODOs for this work.

Ref: #56 and #72

In no particular order:

* have a single detections table in the DB
* views corresponding to `valid_detection` and `invalid_detection`
* receiver download file reporting (e.g. valid, invalid counts)
* before and after:
  * number of (in)valid detections
  * size on disk
* drop `receiver_valid_detection` (I don't think this is used)

Quest

[2015-04-29 02:34] astecken commented on #56
I have entered all unknown receivers that were listed above. All VR2 receivers were entered originally as VR2-xxxxC but I changed them all to the VR2-xxxx format. I think the correct format does incl. the 'C' but I am not sure why the detections are not linked to it accordingly.

@kereid: Would you be able to upload teh csv file again so we can see if we made any progress? Thanks!

[2015-04-29 22:18] astecken commented on #202
I think this issue is easily resolved by changing read/write access of people which I should have done in the first place. I think this issue can be closed (but I don't know how). :)

[2015-04-29 22:23] astecken commented on #204
As it is my job to clean up the DB and its contents, e.g. deleting entries that are faulty, double entries etc., I have to be able to delete or soft-delete certain records. It would be great to get this function back or the new soft-delete function activated asap so I can go ahead with things. Thanks!

[2015-04-29 23:12] #202 closed

[2015-04-29 23:25] jkburges commented on #212
Before:

[code]

[2015-04-29 23:40] astecken commented on #156
Given the fact that AATAMS's performance is evaluated partly by how many detections are in the DB, it would be very useful to have the number of total detections listed again on the 'tag detection' page (as it is visible for number of receivers on the 'receiver' page, for example).

'This issue about the count being shown on the page in the webapp being incorrect due to an embargo being applied. T

[2015-04-29 23:51] jkburges commented on #156
@astecken do you have permission to "reopen" the issue (i.e. do you see a "Reopen and comment" button at the bottom of this page)?  Feel free to reopen issues as you see fit - we can always close them again :grin:

[2015-04-30 01:13] astecken commented on #156
I only see a 'comment' button but no 'reopen' button...

[2015-04-30 01:15] jkburges commented on #156
Ok, one other question about permission: do you see a "New Issue" button near the top right of this screen?

[2015-04-30 01:15] jkburges commented on #156
Re-opening on behalf of @astecken

[2015-04-30 01:16] ktattersall commented on #156
No 'reopen' could be because Andre has only read permission for the repository. I think Pete set it up like that because Andre is unlikely to be editing code.

[2015-04-30 02:35] astecken commented on #156
Jon, yes, I can see a 'new issue' button.

[2015-05-01 02:09] jkburges commented on #56
The 'C' on the end *should* be fine (so long as this matches what's in the detection CSV file).

[2015-05-01 02:45] kereid commented on #56
Emailed @astecken the csv file to re-upload and see if anything has changed

[2015-05-01 04:28] jkburges commented on #212
Note to self: finding duplicates could be slow, we might have to handle this as a special case.

[2015-05-06 03:34] jkburges commented on #212
Re-loading all detections using `COPY` command requires CSV files to be on same node as DB.

[2015-05-08 00:46] kereid commented on #55
As the embargo date has passed for the original tag the we cannot attempt to reproduce the issue to validate the fix, it is not easy to find embargoed tags that have detections in the database - therefore we will require developer assistance to be able to confirm if this has been resolved.

[2015-05-10 23:29] astecken commented on #56
I uploaded both files (events and detections) again. This is a copy of the report:

Type	detections (CSV)
Path	/mnt/ebs/aatams/fileimports/125433205/Kade Mills Snapper Port Phillip Bay 2012 detections.csv
Err Msg
Import Date	07/05/2015 14:43:59
Name	Kade Mills Snapper Port Phillip Bay 2012 detections.csv
Uploader	Andre Steckenreuter
Status	PROCESSED
Total Detections	511823
Valid Count	497840
Inval

[2015-05-11 04:32] jkburges commented on #212
Stats:

https://gist.github.com/jkburges/a2aae361878e7db8924a

[2015-05-11 07:01] jkburges commented on #212
Sizes:

https://gist.github.com/jkburges/06c0b369b3822142ff26

This is to help me see if what's in memory or not.

[2015-05-12 06:51] jkburges commented on #212
Trying mat view (again).

Before:

[code]

[2015-05-14 04:14] jkburges commented on #212
Refresh materialized view: too slow.  Need to investigate partial updates, with triggers.

[2015-05-18 00:26] jkburges commented on #212
Materialized view is not feasible: too slow to refresh, and causing disk bloat as previously.

[2015-05-18 00:27] jkburges commented on #212
TODO:

1. Tidy up migrations
1. Decide exactly how to handle invalids
1. Chef changes
1. Code changes
1. Test against refreshed DB backup

[2015-05-18 06:30] jkburges commented on #72
Note that in 1), the file would have to exist on the same server as the DB.  Possibly, rather than storing the file on disk, we could store it in the DB (as a BLOB or some such), and `COPY` from that.

This would also simplify deployment and backups somewhat (because only the DB has state, not DB + filesystem).

[2015-05-25 01:20] kereid commented on #170
Email Enquiry, Thursday 21 May 2015:
Hello,

I’m trying to access the visualisation tools within the AATAMS database to visualise my passive acoustic animal tracks in Google Earth as documented at https://www.youtube.com/watch?v=ukFFCxAULvs

While I’ve tried running the on both Google Chrome and Firefox browsers, it appears that this functionality is not currently available and I am only able to d

[2015-05-26 06:34] jkburges commented on #212
Prod deploy:

1. Copy CSV files to DB, unzip etc.
1. Install new version of app.  This will run migrations, but it should be fast (just dropping tables and creating views mainly)
1. Run load script
1. Celebrate

[2015-05-27 00:38] jkburges commented on #212
For the duplicates work, here are the biggest receiver downloads:

count|receiver_download_id
-----|--------------------
4464919|117842635
3469427|5745659
3469427|7658857
3354258|39584261
2916572|113442245
2342303|7257676
1980629|93016360
1937174|102559144
1937174|100621931
1190168|71881452
1190168|66889894
1190168|66446817
1070921|13232150
1070921|11484203
1070921|14360175
1023358|48152992
926269

[2015-06-17 04:34] dnahodil commented on #212
SQL to remove erroneous upload

[code]

[2015-06-23 05:36] xhoenner opened #223 "Overlapping initialisation dates create duplicate detections"
Seen on aatams.emii.org.au, app version 3.14.2. This bug may creates a significant amount of duplicates (SELECT COUNT(*) FROM valid_detection returns 69.5 million rows, versus 63.1 millions in the last [report](http://imos.org.au/fileadmin/user_upload/shared/emii/May15_AATAMS_acousticTagging_summary_project.pdf)) which negatively impact the reporting and the underlying harvester.

<h3> Steps to re

[2015-06-23 06:03] xhoenner opened #224 "Changes made to the AATAMS database structure impact the harvester used for reporting"
@jkburges suggested I open a new issue in the hope of having one day the SQL queries I use for reporting as part of the tests that are run before modifying the database structure. For instance the last update made the reporting harvester fail due to one field from the valid_detection view being renamed from id to detection_id.

Here are below the queries used for each report. It's important to not

[2015-06-24 01:00] jkburges commented on #223
A query to identify overlapping deployments (based on the interval of initialisation date to recovery date):

[code]

There are 447 overlaps, so we might have to think of a way to automatically correct this data (probably based on the deployment date), rather than doing it manually.

[2015-06-24 01:06] jkburges opened #225 "Deployments with null initialisation date"
Some deployments have a null initialisation date.  Probably, they were entered before the system had the concept of initialisation date.

This was discovered whilst following up on https://github.com/aodn/aatams/issues/223

We can probably fix the issue by just setting the initialisation date equal to the deployment date in these cases.

**Steps to reproduce**
[code]

**What happens?**

Some resul

[2015-06-24 01:33] jkburges commented on #223
A query to count the number of `detection` record which match up with overlapping deployments (6,925,266 at the time of writing):

[code]

[2015-06-24 03:59] jkburges commented on #223
Following is a proposal to fix this issue, please comment @xhoenner @pblain.

Part A (can be done straight away)
1. Fix the validation so that overlapping deployments can no longer be entered
1. Add the 'initialisation' date column to the receiver screen (this will help with the steps below)
1. Deploy

Part B (requires input from data providers, i.e. Andre and perhaps others)
Meanwhile,

1. Work w

[2015-06-24 04:13] pblain commented on #223
@jkburges - sounds good to me.  Feel free to start on Part A.  Xav (or Kath) will need to talk to Andre about Part B.

[2015-06-24 04:20] xhoenner commented on #223
@jkburges sounds good to me as well, some comments below.

Not sure I understand how this will help @astecken, can you be more specific?

Agreed, and your heuristic fix sounds like an adequate band aid for now, until we hear what @astecken thinks of having the initialisation date = deployment date.

Just to make sure we've got this right, are there 447 or 774 overlaps?

[2015-06-24 04:25] jkburges commented on #223
The receiver screen is useful because it enables you to see *all* deployments for a particular receiver on the one screen.

However, it currently only shows deployment and recovery date, not initialisation date.  It'd be useful when correcting data (I would think) to see the initialisation date here since that's the one that matters as far as matching detections to a deployment is concerned.

Sorr

[2015-06-24 04:35] xhoenner commented on #223
Makes perfect sense yes, thanks Jon for clearing that up.

[2015-06-24 04:50] jkburges commented on #224
Are the queries above updated w.r.t. to the recent change to the DB, or are they broken?

[2015-06-24 05:16] xhoenner commented on #224
All the above queries should be working. The query that makes the harvester fail is in the `Copy_Tables` subjob:
```SELECT id, receiver_deployment_id, timestamp, transmitter_id FROM aatams.valid_detection;```

It doesn't work for two reasons:
* id has been changed to detection_id (easy change for me to make),
* there are now duplicate detection_id (problematic as I have a primary key on that field

[2015-06-25 00:23] astecken commented on #223
It makes all sense to me to. Feel free to go ahead with proposed changes.

Also, to keep in mind for implementing automatic data upload in the future: It is probably easiest to use 'initialisation time' for 'deployment time' and 'data upload' time as 'recovery time' if that makes sense.

[2015-06-25 00:30] jkburges commented on #223
@astecken even if we go ahead with the 'auto-correct' described above, we're still going to end up with a few (~60) that still overlap (that's based on setting init date = deployment date) - so we're still possibly going to need some help from you to correct those ones - but we'll let you know.

[2015-06-25 00:31] astecken commented on #223
No worries.

[2015-06-29 01:23] danfruehauf opened #229 "AATAMS baseload relatively high"
1 cpu occupied most of the time, probably due to crawling:
https://nagios.aodn.org.au/pnp4nagios/graph?host=3-aws-syd.emii.org.au&srv=cpu&view=1&start=&end=

[2015-06-29 01:24] danfruehauf commented on #229
A potential quick fix for that is #228

[2015-06-29 01:31] jkburges commented on #229
Just to expand, the underlying cause of this is that hitting the 'receiverEvent' page triggers a `count` of the underlying table - a relatively expensive operation.  We can probably do without this functionality, as we have done with detections.

[2015-06-29 07:52] #72 closed

[2015-06-29 07:52] #212 closed

[2015-06-29 07:55] #133 closed

[2015-06-29 07:58] jkburges commented on #115
Sorry, only just saw this now. This issue has been made redundant/invalid by https://github.com/aodn/aatams/pull/216 and related changes.

[2015-06-29 07:58] #115 closed

[2015-06-29 08:00] jkburges commented on #31
All uploads were reprocessed as part of https://github.com/aodn/aatams/pull/216

[2015-06-29 08:00] #31 closed

[2015-07-01 00:22] jkburges commented on #198
Note: we're getting multiple sign-ups for individuals because of the poor usability in this area.

[2015-07-01 00:30] jkburges opened #234 "NullPointerException on detection show page"
**Steps to reproduce**
1. As an unauthenticated user, load https://aatams.emii.org.au/aatams/detection/show/50126744

**What happens**
An exception, which stack trace:

<pre>
2015-06-30 15:28:06,102 ERROR [http-bio-8080-exec-3] [unathenticated] org.codehaus.groovy.grails.web.errors.GrailsExceptionResolver  - Exceptio
n occurred when processing request: [GET] /aatams/detection/show/50126744
Stacktr

[2015-07-03 03:04] #234 closed

[2015-07-06 23:47] xhoenner opened #240 "Duplicate ping codes in sensor table causing duplicate detections"
<h3> Steps to reproduce <h3>

This bug was found when trying, with Talend, to copy the content of the valid_detection view and import it into a table with a primary key on the following fields (`receiver_deployment_id`,`timestamp`,`transmitter_id`, and `scientific_name`). The harvester failed because it had found duplicate detections based on this primary key. This bug might be related to  https:/

[2015-07-08 04:39] jkburges opened #241 "Fixing up of invalid deployments"
After some consideration amongst the development team, it was deemed sensible to follow the following process to correct invalid deployment records (invalid due to either overlaps or out-of order initialisation/deployment/recovery datetimes):
1. eMII to provide CSV list of all invalid deployments, including URLs in to the app, emails of people who could possibly help with the corrections, relevant

[2015-07-08 04:41] jkburges commented on #223
Code changes have been made to stop invalid records making it in to the DB.  Closing this issue, but have opened https://github.com/aodn/aatams/issues/241 which specifically addresses Part B from above.

[2015-07-08 04:41] #223 closed

[2015-07-08 04:46] jkburges commented on #241
Here is the query to generate the CSV file:

[code]

[2015-07-08 05:27] jkburges commented on #241
... and here is the result of the above query, as at the time of writing:

https://drive.google.com/file/d/0B2O98aeavvGgMUViVktuMWQ2dFE/view?usp=sharing

[2015-07-08 05:34] jkburges commented on #241
@ktattersall @xhoenner I think I've done all I can for now, without further involvement from you and @astecken.  Let me know if you have questions or want to have more/less info in the CSV.

[2015-07-09 03:27] jkburges opened #244 "Simplified AATAMS proposal"
Shifted to https://github.com/aodn/internal_discussions/issues/147

[2015-07-09 06:51] pblain commented on #244
Sounds good to me.  It's similar to my original proposal but it solves the issue with embargoed data: https://github.com/aodn/internal_discussions/issues/129

I assume you are suggesting that the security is managed in the database?

What is the extra work for POs?  There will be another couple of harvesters - but is there more to it?  There will need to be harvesters anyway - even if we stick wit

[2015-07-09 23:20] jkburges commented on #244
Yes, it is - it builds on from that.  Aside from *what* form the implementation takes, I guess the point I really wanted to get across with this proposal is that it's important to reduce the complexity in order to reduce workload - an orthogonal proposition to web app vs harvester etc.

Yes - because the security logic is very much simplified (i.e. not dependent on user/project etc) then the imple

[2015-07-09 23:59] jkburges commented on #244
Metadata will be managed by POs, rather than "self-service" by the data providers (+ harvesters, as you mention).

[2015-07-13 00:41] smancini commented on #244
An additional table with the species information will also be required.
Otherwise, the user will download detection information without knowing what species it is related to.

You are proposing that the receiver deployment and tag releases tables are managed manually but currently there are no other facilities where database tables are managed manually.
The only examples are reporting, parameters

[2015-07-13 00:52] jkburges commented on #244
Thanks @smancini - I have added the species info in.

This information has to come from *somewhere*.  Without at least this basic metadata, the detections records are pretty useless (there will be no associated geographic location, for instance).

[2015-07-13 19:04] xhoenner commented on #241
Thanks @jkburges, I didn't remember there were that many invalid initialisation dates... @astecken would it be problematic if we were to correct all erroneous initialisation dates as follows:
initialisation_date if invalid is then equal to deployment_date?

[2015-07-13 20:08] xhoenner commented on #244
Some other cons that are not listed in Jon's proposal:
* Loss of interoperability with OTN and other agencies.
* Dropping the security would result in losing many users and their data.
* Waste of the resources that have been put together to build the AATAMS web app to its current state + high resources initially required to strip the system down entirely.
* Increased workload for @astecken and POs

[2015-07-13 23:50] jkburges commented on #241
The number "to be fixed" that I quoted before was after running an autocorrect - but after thinking about it a bit more, I decided it would be safer for someone else who knows the data better to double check what we want to do *before* attempting to autocorrect.  Given that, we may only have a fraction of the ~2500 to fix after "autocorrecting" but that depends on the autocorrect algorithm.

[2015-07-14 00:13] jkburges commented on #244
Just to be clear - anything that is "hidden" currently would remain hidden - except more so.  The point of users uploading embargoed tags is that the information is shared albeit not visible until some time has elapsed.  Granted, there's probably not much motivation for people to do this unless they have some obligation (due to funding or whatnot) to do so.

We can keep adding in bits and pieces o

[2015-07-20 01:41] astecken commented on #241
'would it be problematic if we were to correct all erroneous initialisation dates as follows:
initialisation_date if invalid is then equal to deployment_date?'

This poses a problem as detections can only be linked to the particular receiver and corresponding uploaded vrl file if the initialisation time is exactly the same as entered in the 'receiver recovery' in the database. So, if we just creat

[2015-07-20 03:49] astecken commented on #244
Before this discussion goes any further, I strongly suggest that we will have a proper meeting with all involved parties incl. the chairs of the AATAMS Data and Scientific Committee and Rob as the Project Leader. As we all know, IMOS had major funding cuts and this will result in significant changes for us all (as discussed briefly with Roger on my last visit).

[2015-07-20 05:16] ktattersall commented on #244
@astecken Thanks for your comment. At the moment, as Jon says at the top, this is purely a hypothetical scenario, and probably should have been posted as an internal eMII discussion rather than a public AATAMS issue. I'll see if I can shift the privacy settings. The discussion arose following a tightening of developer resources within our group. I'll give you a call to expand on this.

[2015-07-20 06:23] #244 closed

[2015-07-20 16:44] xhoenner commented on #241
Thanks for your input @astecken, @jkburges what are our options then?

[2015-07-20 23:03] astecken commented on #122
Related to this issue is the following and Xavier asked me to post it here:

RE: Null in AATAMS_acousticTagging_summary_species report; Tim wrote:
'Most of these (87%) are from the 2009 Bondi range experiment so I suspect they aren’t really valid species detections. Perhaps something to check with Andre. Another 10% are from Townsville reefs and probably should be showing up with the correct speci

[2015-07-21 01:29] jkburges commented on #241
Just to explain - the `initialisation` date/time is only stored once in the database.  It's entered in the receiver recovery screen, but stored against the relevant deployment.  So there's no problem there that I can see.

initialisation_date if invalid is then equal to deployment_date?'

Setting invalid initialisation dates equal to the deployment date is *probably ok*, but I'm not in the best po

[2015-07-21 01:57] astecken commented on #241
I understand what you are saying but I always thought that if the initialisation date/time is not exactly entered as recorded in the vrl file, the database isn't able to match the uploaded vrl file and corresponding detections? Is that wrong? If so, it would be an easy fix!

[2015-07-21 01:59] jkburges commented on #241
Sorry, I think I misunderstood you.  VRL files are not processed at all by the app, they're just stored.  So any detections within a not "available" in the database, as such.  Uploads have to be done as CSV for this to happen.

[2015-07-21 02:11] astecken commented on #241
Sorry, I have to ask this again to be absolutely clear:
Do I understand that right that the initialisation time isn't really important then? I was always told that it is crucial to have it entered exactly as in the vrl file so that detections can be matched up accordingly.

[2015-07-21 23:21] jkburges commented on #241
No problem @astecken.

The initialisation time *is* important.  Detections are matched to deployments based on the period of time from initialisation time to recovery time (and receiver ID).  In fact, it's the deployment time that is not that important, as far as this is concerned anyway.

When the system first went live, there was no initialisation time recorded, and matching was done on deployme

[2015-07-21 23:24] jkburges commented on #241
I have just managed to dig up why that change was made:

So there you have it, it's so that `events` (rather than `detections`) are matched properly, which makes much more sense.

[2015-07-26 23:35] astecken commented on #241
My comment from 7 days ago:

'This poses a problem as detections can only be linked to the particular receiver and corresponding uploaded vrl file if the initialisation time is exactly the same as entered in the 'receiver recovery' in the database. So, if we just create an initilisation time taken from the deployment time, the database won't be able to link detections to this data upload.'

Then t

[2015-07-27 02:34] astecken opened #245 "Unrecovered receiver list uses wrong lat/lon"
The receiver recover list of 'unrecovered deployments only' lists proposed lat/lon in the location column (lat/lon of station). However, it should list the lat/lon of last deployment! Could you change this, pls?

[2015-07-27 02:47] astecken opened #246 "Tag release reminder/link"
We are aware of a number of cases where people have registered their tags and not realised that they also have to “release” them. A very explicit link on the tag registration page emphasising the need to “release” the tag would be useful.

[2015-07-27 05:27] #229 closed

[2015-07-27 05:57] xhoenner commented on #241
Great, thanks Andre! How shall we proceed then @jkburges ?

[2015-07-27 06:08] jkburges commented on #241
(also, the same applies to events).

Is that going to be ok?

[2015-07-27 18:32] jdpye commented on #241
Hi guys, Jon from OTN here.

Hope it's OK if I chime in! I'm not sure if this is when you want to be considering it, but initialization date != deployment date when it comes to correcting clock drift on stations, and so might be misleading to use deployment date as a backup initialization date. For long deployments you can potentially end up with hours in the difference between corrections if you

[2015-07-27 18:35] jdpye commented on #241
oh, also, tag and receiver co-location prior to deployment date but post initialization date turning into 'real' detections is a very real problem for a lot of operators. They could co-exist on the back of a truck for a few hours prior to station and tag deployment and salt the station with a few hundred false detections that are > init date but < deploy date. We sanitize out a lot of those detect

[2015-07-27 23:06] astecken commented on #241
Hi all,

Thanks for your comments, Jon. In general, we don't want to use init time/deployment time interchangeably. However, we are trying to clean up the AATAMS Database and thus we are in the process of eradicating erroneous init timestamps. I think, in this instance clock drift might be negligent compared to having erroneous init times in the DB. The second issue that you raise is certainly tru

[2015-07-30 02:16] jkburges commented on #241
Hi @jdpye, thanks for your input.

Aside from fixing the incorrect data - would it be more correct to match detections based on deployment to recovery time, and events on initialisation to recovery time?  Detections falling between initialisation and deployment times would be discounted.

Currently, both are matched on initialisation to recovery time (i.e. deployment time is not "used" as such).

[2015-07-30 03:07] jdpye commented on #241
It's been our experience that a lot of false detections can occur in the space between instrument initialization time and the deployment time we receive in the deployment metadata from our researchers. This could be tags on the boat, tags in the shop, colocated with not-yet-deployed receivers. Our philosophy is that events are internal to a receiver and are useful from initialization time. Detecti

[2015-07-31 01:39] xhoenner commented on #56
@jkburges given https://github.com/aodn/backlog/issues/100 was closed, can this issue be closed too?

[2015-07-31 01:41] jkburges commented on #56
I'd say so.

[2015-07-31 01:41] #56 closed

[2015-07-31 01:49] xhoenner commented on #193
@jkburges seems to me that this issue can be closed too.

[2015-07-31 01:49] #193 closed

[2015-07-31 02:36] xhoenner commented on #240
@jkburges could it be related to https://github.com/aodn/aatams/issues/208?

[2015-07-31 02:38] xhoenner commented on #70
@jkburges that field doesn't exist anymore in the `installation_station` table, happy to close it?

[2015-07-31 02:40] xhoenner commented on #65
@jkburges this issue can probably be closed too as I've just tried to recreate it and didn't get an error.

[2015-07-31 03:07] xhoenner opened #247 "HTTP Status 500 error when searching for a tag serial number and clicking on Sensor"
<h3> Steps to reproduce <h3>

Go to https://aatams.emii.org.au/aatams/
In the search facet on the left hand side of the screen, type the following serial number 1177659 (have also tried 1127378, 1127333, 1138523) and hit Enter.
Click on A69-9002-10420 (Sensor).

<h3> What happens? <h3>

Doing so returns an HTTP 500 error
![screen shot 2015-07-31 at 12 57 42 pm](https://cloud.githubusercontent.com/

[2015-07-31 04:50] jkburges commented on #65
I think @dnahodil fixed this actually.

[2015-07-31 04:50] #65 closed

[2015-07-31 04:51] jkburges commented on #70
Yes - this value is now derived (as it should be) - see: https://github.com/aodn/aatams/blob/master/grails-app/domain/au/org/emii/aatams/InstallationStation.groovy#L94

[2015-07-31 04:51] #70 closed

[2015-07-31 04:53] jkburges commented on #240
Not sure.  There *shouldn't* be any sensors belonging to the same tag which have the same ping code (but ping codes for different tags *can* be duplicated).

[2015-08-04 00:02] xhoenner opened #248 "Wrong value in the 'Transmitter name' field on the tag detection page"
<h3> Steps to reproduce <h3>

Go to https://aatams.emii.org.au/aatams/detection/list
In Tag ID, put in A69-1303-10691, which is embargoed until 2016 according to the `animal_release` table in the database.

<h3> What happens? <h3>

Doing so returns records, with what seems an odd combination of different values in the 'Transmitter Name' field (including species name), see screenshot below.

![scre

[2015-08-06 06:22] xhoenner opened #249 "Produce XML output file to publish detections via the IMOS portal"
This enhancement would eventually allow people to filter and download acoustic telemetry detections straight from the IMOS portal, using an underlying WMS and WFS layer on Geoserver.

If I understand correctly, and @jkburges correct me if I'm wrong of feel free to expand this section, an output XML file can be produced from the webapp. Subsequently this XML could be routinely ingested by a Talend

[2015-08-07 01:36] xhoenner opened #250 "Drop all five aatams_acoustictag_ views in aatams schema"
These views were originally used for reporting but are now obsolete.

[2015-08-12 00:11] kereid opened #251 "Reciever cannot be recovered"
Email trail from James:

10 August 2015
Hi Guys,

Hope you are all well down in the snow!

I am trying to update some deployments and recoveries so that I can upload data.

I am running into a problem where I cannot recover a VR4 receiver 250579 because it tells me that I can’t have the deployment before the initialisation date. Strange thing is there is an initialisation date in the deployment in

[2015-08-12 00:45] kereid commented on #251
Email from James:

I’m currently looking at our unrecovered Narooma Line stations and they also all have a linked initialisation time…

[2015-08-12 01:06] jkburges commented on #251
FWIW, I just tried creating a new deployment, and can confirm that the initialisation date is not set to anything (e.g. if you go in to the receiver screen, that field will be blank).  So, I'm not sure at what point it became set (to an incorrect value) w.r.t. bug report.

[2015-08-14 00:48] xhoenner commented on #248
As discussed with @jkburges this is not a bug as transmitter name is inherited from what people enter into their own database, and this info is not included in the CSV that people download.

The decision here was to remove that 'Transmitter Name' column from the tag detection page to prevent any security issues.

[2015-08-18 06:22] xhoenner commented on #225
There are now 36 results instead of 9 for the above query. The additional results returned are from recent receiver deployments (last couple of months), suggesting that there's still an issue with the way initialisation dates are being configured in the system.

@jkburges I'm happy to work on an ad hoc SQL query to set null initialisation dates to be equal to deployment dates, but, this probably r

[2015-08-18 06:24] jkburges commented on #225
I think my original bug report here is a bit misleading.  I think it's ok for deployments to have a null initialisation date, so long as there *is no associated recovery*, as that's when the initialisation date is filled in by the user.

So the query should also check that there is no associated recovery (probably a `left join receiver_recovery` and a where clause checking that `receiver_recovery.

[2015-08-18 06:26] jkburges commented on #225
As far as fixing it goes, I think this is another case where @astecken should really make the call, as he's got a much better idea of what these values *should* be (at least compared to me)!

[2015-08-18 06:50] xhoenner commented on #241
Thanks @jdpye for taking the time to share your thoughts, your experience in dealing with this is very valuable.

@jkburges do we then agree on the following action items:
* Change existing code to (1) match detections based on deployment to recovery time, and (2) match events on initialisation to recovery time.
* @astecken to contact people who entered receiver information in the database so that

[2015-08-18 06:54] jkburges commented on #241
I think that sounds pretty reasonable.

[2015-08-18 07:05] xhoenner commented on #225
Thanks for clarifying that Jon, running the following query returns 9 records:

[code]

@astecken are you happy for us to fix those by setting all null initialisation dates to be equal to deployment dates?

[2015-08-18 07:15] xhoenner commented on #241
Great! @astecken if you're happy to proceed then here's what I suggest:
1. Download the csv file with all invalid deployments here: https://drive.google.com/file/d/0B2O98aeavvGgMUViVktuMWQ2dFE/view?usp=sharing
2. Contact the 47 people in charge of invalid receiver initialisation/deployment dates and get them to verify the information they entered into the AATAMS web app.
3. Amend the csv file acco

[2015-08-18 07:37] xhoenner commented on #240
Okay so if I understand that correctly, the query below *shouldn't* return any result:
[code]

however it returns 261 duplicate sensors with the same tag_id. Have I got that right @jkburges? If so, should we do the same thing as for https://github.com/aodn/aatams/issues/241, *i.e.* csv export for @astecken to ask people to double check the info they've entered?

[2015-08-19 00:20] jkburges commented on #240
Yes, I think the above query is correct.

I had a look at a couple of tags having duplicate ping codes, e.g.: https://aatams.emii.org.au/aatams/tag/show/128160726

The interesting thing is that each sensor is of a different type - so that gives us a bit of a clue (perhaps) as to why this bug is happening.

So, yes, we do need to find out from tag owners what the sensor types are *actually* on the

[2015-08-19 03:14] astecken commented on #225
Xavier, could you sen me a list of those 9 records, pls, so I can check when they were deployed and recovered? If it is the case that
'Some deployments have a null initialisation date. Probably, they were entered before the system had the concept of initialisation date.'
then I think it would be ok to set
'all null initialisation dates to be equal to deployment dates'.

[2015-08-19 03:19] astecken commented on #241
Sounds good! I'll let you know once people get back to me.

[2015-08-19 03:21] astecken commented on #240
Yes, pls, send csv file through and I will check with owners. Thanks!

[2015-08-19 23:56] xhoenner commented on #225
No worries Andre, have a look at these 9 records (https://drive.google.com/file/d/0B0gOwvJSYXhsVTdyVHlSdDFBdFE/view?usp=sharing) and let me know what you want us to do.

[2015-08-19 23:58] xhoenner commented on #241
@astecken great, thanks for chasing that up! Let me know if you require additional info.

[2015-08-20 00:36] xhoenner commented on #240
Here's the csv you were requesting @astecken: https://drive.google.com/file/d/0B0gOwvJSYXhsTXlVcUpnd0FXU3c/view?usp=sharing
(semi-colon delimited).

[2015-08-20 00:52] astecken commented on #251
Hi guys, we urgently need to have this sorted as we can't recover/redeploy any of our data as it is. It basically became a problem after the newly introduced red outlines were introduced, I think.

[2015-08-20 00:56] xhoenner commented on #251
@pblain can this become a VIT? It's a critical issue according to Andre.

[2015-08-20 01:46] astecken commented on #225
I think, we should go ahead and change those as suggested above. Thanks!

[2015-08-20 02:03] astecken commented on #241
Having a closer look at the file, I think it will be easier to make the changes straight away without contacting people. I don't think it will make a difference in the end. I also think it is too big of an ask for people to get back to data from 2008 etc. and look up deployment/initialisation times. Most won't get back to us regarding this anyway because they've got more pressing issues to deal wi

[2015-08-20 02:46] jkburges commented on #251
I'm a bit confused here.  Is the problem happening on the *receiver deployment* screen?

The [screenshot above](https://cloud.githubusercontent.com/assets/2906602/9213850/615e70a0-40da-11e5-9e1d-f6cbde38feba.jpg) shows the *receiver recovery* screen, with init date and deployment date that are indeed invalid w.r.t. each other (the init date must be *before* or equal to the deployment date).

So th

[2015-08-20 03:16] xhoenner commented on #225
great, thanks Andre. @jkburges how should we proceed? Do you want me to work on the SQL query to fix that up?

[2015-08-20 03:17] xhoenner commented on #241
Sounds good to me, @jkburges happy with this plan too?

[2015-08-20 03:21] jkburges commented on #225
Given that there are only 9 affect records, can't it be done from the front-end?  This ensures that what ends up in there is actually valid (bugs aside!), apart from being a bit safer than write-queries directly on the DB.

[2015-08-20 03:28] xhoenner commented on #225
That makes perfect sense Jon, are you happy to do that @astecken? If so, let me know once it's done so that I can close this issue.

[2015-08-20 03:28] jkburges commented on #241
Ecstatic :grin: - except what is the change that we're making exactly?  Here's my understanding of what's currently being proposed after this somewhat lengthy discussion:

1. Validate detections based on deployment to recovery date
2. Validate events based on initialisation to recovery date
3. "Fix" as many invalid deployments as possible by setting initialisation date equal to deployment date (or

[2015-08-20 03:30] jkburges commented on #225
@astecken may need a list of URLs (to the recoveries in question) if he's to do it.

It'll be of the form "https://aatams.emii.org.au/aatams/receiverRecovery/show/<id from receiver_recovery table>"

[2015-08-20 04:40] astecken commented on #251
The screenshot shows the receiver recovery screen to show that their is an initialisation time stated even though this is NOT possible (as the init time is entered during the recovery of a receiver and not at deployment). Where does this info come from? Must be cross-referenced to some other table here or something.
When we tried to recover the unit with its actual init time/recovery time, the DB

[2015-08-20 07:12] pblain commented on #251
@xhoenner , we only have three developers at the moment.  Let's have a chat about this.

[2015-08-20 23:13] xhoenner commented on #251
no worries @pblain, might require @jkburges to be present as I haven't fully grasped what the issue exactly is.

[2015-08-24 01:29] kereid opened #252 "Error message in Database not very helpful"
This stems from a user enquiry that came to info@emii.org.au where the user was trying to upload some data from his receivers and got the same error a couple of times, it only stated

Err Msg: System Error - Contact eMII

Upon conferring with Jon, the problem usually arises  when a user is using an old version of VUE (Vemco's desktop software for getting data off recievers) and it mucks up the for

[2015-08-24 02:39] astecken commented on #241
Yes, I agree to points 1-3. Not sure what you mean with point 4... Can't we fix up all of the miss-matching init times automatically as suggested under point 3?

[2015-08-24 03:04] astecken commented on #225
Done. Would you mind to run the query again just to see if there's anything left? If not, you can close this issue.

[2015-08-24 04:22] jkburges commented on #225
:+1: @astecken - no results from [the query above](https://github.com/aodn/aatams/issues/225#issuecomment-132096652) - good work!

[2015-08-24 04:22] #225 closed

[2015-08-24 04:23] jkburges commented on #241
No, because, for example - there are some deployments for the same receiver that overlap, even just based of deployment and recovery time.

[2015-08-24 04:41] astecken commented on #241
Ok. Are you happy to proceed with the above mentioned process then?

[2015-08-24 04:42] jkburges commented on #241
ATTN: @pblain @xhoenner

[2015-08-24 04:46] kereid opened #253 "Error message when adding a sensor to existing tag"
@astecken  reported the following:

Get the following error msg when adding a sensor to an existing tag (A69-9004-588):

	‘Property [status] of class [class au.org.emii.aatams.Tag] cannot be null’

Steps to reproduce:

Use the autocomplete tag ID dropdown to find the tag in question.

Select the i button for the relevant entry and then click edit, click add sensor and add information in the follow

[2015-08-24 04:57] jkburges commented on #241
I have spoken to @pblain, and although we are happy with the process outlined above, unfortunately we don't plan to proceed with them at present (at least in the next couple of weeks or so).

[2015-08-24 22:07] astecken commented on #253
Here is a bit more detail:

Get the following error msg when adding a sensor to an existing tag (A69-9004-588):

‘Property [status] of class [class au.org.emii.aatams.Tag] cannot be null’
Steps to reproduce:

Use the autocomplete tag ID dropdown to find the tag in question.

Select the i button for the relevant entry (the accelerometer one (2nd entry)) and then click edit, click add sensor and add

[2015-09-01 04:59] jkburges commented on #251
@astecken @xhoenner heads up that we're now looking at this bug.

I have just tried to re-create it.  I *was* able to successfully enter a recovery with the following date/times:

Initialisation Date: 2015-05-27T03:37:00+0000
Recovery Date: 2015-07-30T03:45:33+0000

where

* initialisation date is set equal to the deployment date (since the init date in screenshots above is *after* deployment - i.

[2015-09-03 23:01] astecken commented on #251
Ok, I will try to explain again:

The first screen shot with the newly introduced red outline shows an unrecovered receiver. When a receiver is deployed and not yet recovered (red outlined section), it is impossible to have a corresponding init time. The latter is entered by the researcher only AFTER the recovery of the receiver when the vrl files are downloaded.

It is irrelevant if the init time

[2015-09-04 00:24] jkburges commented on #251
I understand what you're saying (I think).

The init date is actually stored against the deployment in the DB, although as far as the user is concerned, it's entered on the recovery screen.  In the first screen shot, I'm not sure how that value got there, so that's a bug, no argument from me on that.

But, what I still don't understand is: provided valid dates are entered on the recovery screen, i

[2015-09-04 01:17] astecken commented on #251
Yes, the bug has to be fixed so that we can enter the actual init and recovery time :)

If I would make up any valid dates (that aren't real), I am sure there wouldn't be a problem. But the wrong init times that are visible in the first screenshot restrict us from entering actual dates and times that reflect data collected by the researcher.

[2015-09-04 02:01] jkburges commented on #251
What are the actual dates and times, one example?

[2015-09-07 05:14] jkburges commented on #251
To answer how the initialisation date ended up with a value in there in the first place, I just had a look at the code, and it used to be the case that the init date (as well as the deployment date) defaulted to the current date when a deployment was first created.  Now, users wouldn't have known (or cared) that this was happening, as the init date was never visible on the receiver screen (as it i

[2015-09-07 07:02] #253 closed

[2015-09-07 07:03] #248 closed

[2015-09-11 06:21] xhoenner commented on #240
@astecken how are you going with this?

[2015-09-11 06:23] xhoenner commented on #251
@astecken Jon needs your input to get that bug fixed. Could you provide him with an example of dates and times so that he can recreate that bug?

[2015-09-13 23:08] astecken commented on #251
Enter 250579 in search box, select receiver from list, last entry is highlighted in red.

What does this newly highlighted box mean? Can I find information on that somewhere as it is not immediately clear for the user?

Initialisation date shouldn't exist yet as it is entered during recovery process but DB states: 2015-06-16T01:51:53+0000 (which is after deployment date and has never been entered

[2015-09-13 23:24] jkburges commented on #251
Forget everything that you see in the system. What are the:

* init date
* deployment date
* recovery date

that you *want* to enter for this receiver?

[2015-09-13 23:33] astecken commented on #251
Init date
Deployment date is 27/5/15, 3:37
Recovery date 30/7/2015, 3:45:33

[2015-09-13 23:39] astecken commented on #251
From what I can see from James/Phil's datasheets, it should say:

Init date 27/5/15, 3:38:07
Deployment date is 27/5/15, 3:39
Recovery date 30/7/2015, 3:45

[2015-09-14 00:32] jkburges commented on #251
Ok thanks @astecken.  Given those dates, I now have confirmation as to why it was not possible for you to simply enter them in the recovery screen (as [I did above](https://github.com/aodn/aatams/issues/251#issuecomment-136586956) with *slightly* different dates).

Here's what we will do or have done to resolve this issue:

1. fix the bug where the init date was being initialised to be equal to th

[2015-09-14 00:41] jkburges opened #257 "Allow users to be deactivated"
There are two use cases:

1. A user no longer can have or wants access to the DB altogether
2. As above, except at an individual project level

We cannot simply delete the user (or their associated project roles), as the user is still referenced in the system (e.g. as a recoverer), and deleting the user record would result in this associated data also being deleted.

The proper way to model this i

[2015-09-14 00:42] jkburges commented on #202
A solution is outlined here: https://github.com/aodn/aatams/issues/257

[2015-09-14 01:13] astecken commented on #240
Hi Xavier,

I have contacted all collaborating researchers and am waiting for their responses. I'll let you know once I hear from them!

[2015-09-14 01:14] jkburges commented on #251
Ok, I have now done 2) above.  For any deployments which don't have an associated recovery, the init date should now be not set.  Here is a list of the ones which were changed *just in case*: https://gist.github.com/jkburges/15f71ba71d19f4c7f33d

So, @astecken, you should now be able to enter deployment/recovery for the above receiver, and any others which were facing the same problem.

[2015-09-14 01:22] astecken commented on #251
Thanks, Jon! Looks good.

[2015-09-14 01:36] astecken commented on #257
I recently had people asking me if I can deactivate their access to certain projects. I also have students entering data for certain projects. I would like to be able to take students off those projects when they are not longer working with us. Thanks!

[2015-09-14 01:55] astecken commented on #253
Hi Jon,

I just saw your release 3.14.4. Does this mean, I can now add a sensor to an existing tag ID as outlined above?

[2015-09-14 01:59] jkburges commented on #253
It's not *quite* released yet, it will be some time shortly after 17:00 today!

[2015-09-14 02:04] astecken commented on #240
It looks like people had problems in the past when entering their tags, i.e. they couldn't add a sensor to an existing tag ID. Hopefully, this will be resolved this afternoon after the 3.14.4 release; and then hopefully sorting out issue #253 at the same time :)

[2015-09-15 01:35] jkburges opened #258 "Detection count per station materialised view is failing to refresh"
This view is used to report on the total number of detections at each station (as it's too slow to do this in real time).  This bug results in two main problems:

* users will experience intermittent failures/exceptions while this problem is occurring (there is evidence for this in the logs)
* the counts of detections for each station are falling out of date

**Steps to reproduce**
1. wait until a

[2015-09-15 01:45] jkburges commented on #258
The exception above would lead one to believe that the materialised view creation is creating a *massive* temporary table, in turn filling up the disk while doing so - but this is *not* confirmed.

We can do a couple of things:

1. Assume that the disk is actually filling up (the error above can actually mean a couple of other things) and simply increase the size of the disk partition
1. Fix the q

[2015-09-18 05:15] xhoenner commented on #251
@jkburges can this issue be closed then?

[2015-09-18 05:30] #251 closed

[2015-09-21 03:23] kereid opened #261 "Events CSV upload error"
Steps to reproduce:
Upload an events csv

What should happen:
Upload is successful

What does happen:
Get an error

![2015 09_data base error_event upload 2](https://cloud.githubusercontent.com/assets/2906602/9984882/fa0cc5ce-6063-11e5-997a-8e3305f2bd2f.jpg)

[2015-09-21 03:25] kereid opened #262 "Detection CSV gets stuck "Processing"
Steps to reproduce:

Try to upload a detection CSV

What should happen:

Uploads successfully

What does happen:
File never gets past the "Processing" stage even though the progress bar reaches the end

[2015-09-21 03:26] kereid opened #263 "Proxy error when trying to enter new tags"
Steps to reproduce:

try to enter a new tag

What should happen:

Tag is successfully entered

What does happen:

Get an error stating

The proxy server received an invalid response from an upstream server. The proxy server could handle the request. Reason is error reading from remote server

[2015-09-21 03:31] jkburges commented on #263
Noting that I *suspect* that whatever's causing #262 is also causing this...  as well as not being able to access the detections screen.

Running the query `SELECT relation::regclass, * FROM pg_locks WHERE NOT GRANTED;` against the DB while both of these problems were occurring showed many queries/processes waiting for locks to be granted.

The issue seems to have somehow resolved itself, running

[2015-09-21 03:32] jkburges commented on #262
After the underlying issue resolved itself (whatever that may be), these uploads progressed to status "PROCESSED".

[2015-09-21 03:33] jkburges commented on #263
*Possibly* some correlation with the harvester which was running at the time.  I don't have any evidence for this apart from the fact that it was running!

[2015-09-21 03:39] jkburges commented on #261
Note: I think the upload is succeeding, it's just that this view is erroring.

[2015-09-21 04:05] kereid commented on #262
James reported that the detection data uploaded, it may have been slow because there were a few unknown receivers in there. He added the receivers and all looks good with that issue.

[2015-09-21 05:03] jkburges commented on #262
Yeah, it seemed to go through fine.  Unknown receivers *shouldn't* make any difference to how long the upload takes.  Whatever the problem was, it was basically bringing everything to a halt.

[2015-09-22 03:07] xhoenner commented on #261
@jkburges what's the status of this issue, https://github.com/aodn/aatams/issues/262, and https://github.com/aodn/aatams/issues/263? Can they be closed?

[2015-09-22 03:09] xhoenner commented on #241
@jkburges was this issue solved by https://github.com/aodn/aatams/issues/251?

[2015-09-22 03:10] xhoenner commented on #251
all good to close @jkburges?

[2015-09-22 03:11] xhoenner commented on #240
@astecken any progress on that?

[2015-09-22 03:22] jkburges commented on #261
None of these bugs can be closed, although #262 and #263 are *probably* duplicates (i.e. caused by the same underlying problem).

[2015-09-22 03:23] jkburges commented on #251
This issue *is* closed :confused:

[2015-09-22 03:23] jkburges commented on #241
No.

[2015-09-22 03:25] jkburges commented on #261
This bug is probably easy to fix.  It's not stopping people from entering/uploading data.

[2015-09-22 03:26] jkburges commented on #263
Whatever is causing this bug, it's pretty serious.  Basically, the system is mostly unusable whilst it's happening (i.e. the app cannot read from the DB).  Same applies to #262.

[2015-09-22 03:28] jkburges commented on #258
I rate this as a pretty serious bug.  While the fact that the stats aren't updating is bad, having the disk fill up while *trying* to update the stats is about the worst thing that can happen to a web-app :-)  All sorts of badness will happen while the disk is full.

[2015-09-22 03:29] jkburges commented on #247
Fixed.

[2015-09-22 03:29] #247 closed

[2015-09-22 21:50] astecken commented on #240
Yes, Xavier, all sorted. The issue can be closed. Thanks!

[2015-09-22 22:21] xhoenner commented on #240
Hmm and yet when I run this query ```SELECT * FROM sensor WHERE transmitter_id = 'A69-9002-14774';``` I still get two rows instead of one. See the corresponding webpage https://aatams.emii.org.au/aatams/tag/show/43669568 which shows that it has two identical ping ID codes. @astecken, @jkburges isn't that erroneous?

[2015-09-22 22:49] jkburges commented on #240
There's two parts to this: fixing the erroneous data (@astecken was contacting people re that) and adding validation so that it can't happen in the first place.  Part B is definitely *not* done, so this can't be closed yet.

Yes.

[2015-09-22 23:08] xhoenner commented on #240
Thanks for clearing things up @jkburges. @astecken I just re-ran the query I used to extract https://drive.google.com/file/d/0B0gOwvJSYXhsTXlVcUpnd0FXU3c/view?usp=sharing and I still get about 270 rows, did you end up fixing the erroneous data in the web app?

[2015-09-23 02:13] xhoenner commented on #208
This issue is definitely different from https://github.com/aodn/aatams/issues/240 as

```SELECT * FROM sensor WHERE transmitter_id = 'A69-1303-10691';``` returns one row only whereas
[code]

[2015-09-23 02:24] xhoenner commented on #55
Just tried re-creating that issue using tag_id = 'A69-1105-2' which is currently embargoed. When logged out and logged in I downloaded the same number of rows (14) but with no species information for the former, which is the expected behaviour. Same thing happened when downloading detections for another currently embargoed tag 'A69-1303-3773'.

I believe this can be closed @jkburges .

[2015-09-23 02:26] jkburges commented on #55
![image](https://cloud.githubusercontent.com/assets/1849176/10036702/45b24a68-61ee-11e5-850f-359ea60af9e6.png)

[2015-09-23 02:26] #55 closed

[2015-09-23 02:29] xhoenner commented on #176
I was able to recreate this issue with Chrome today so this still needs to be looked after.

[2015-09-23 02:32] xhoenner commented on #156
All these numbers are available in the monthly data reports at http://imos.org.au/datareports.html

[2015-09-23 02:46] xhoenner commented on #122
This bug is still current.

:+1: that's a great idea, instead of sex as 'unknown' it'd be best to have something like 'not applicable' for ‘range test tag’ and ‘sentinel tag’.

[2015-09-23 03:15] xhoenner commented on #80
Trying to recreate that issue, but for that I need to add myself to a project and remove myself afterwards through manual deletion in the database which is not very safe. @jkburges might be worth looking at that when resuscitating systest instead.

[2015-09-23 03:18] xhoenner commented on #209
This bug might cause some of the duplicates observed in https://github.com/aodn/aatams/issues/240, might be worth looking at these two issues together.

[2015-09-23 10:25] astecken commented on #156
I know that these numbers are available in the reports but I think it is very useful (and much more accessible to the general user) to have them visible where they were in the first place. Why is this feature taken out on this particular page and not for all the other similar pages, e.g. on 'receiver'page?

Another issue mentioned above, is the availability of the downloadable kmz files. This feat

[2015-09-30 23:48] kereid opened #264 "No email notification when people register for database account"
Andre emailed in to say that he is not getting notifications when people register for an account on the database, I checked our email distribution lists and they all look ok - correct people. Jac and I do not get the notifications either and used to.

[2015-09-30 23:50] jkburges opened #265 "Emails to AATAMS admin list are not getting through"
Several notification are sent by the AATAMS app to 'aatams_admin@emii.org.au'.

It appears they are not getting through.

On further investigation, it `sendgrid` is reporting that emails to this address are bouncing.

[2015-09-30 23:57] jkburges commented on #265
A test email (sent from my work account) just got through. So it would seem as though it's an interaction between sendmail and the emii.org.au provider.

[2015-10-01 00:08] jkburges commented on #265
According to [the documentation](https://sendgrid.com/deliverabilitycenter/#/reason/113), any bounced addresses cause subsequent bounces to that address to be also bounced.

The original error is:

[code]

I have removed this address from the bounces list, hopefully they will come through again.  I have no idea why it bounced in the first place - perhaps the emii.org.au provider was down at that t

[2015-10-01 00:08] #265 closed

[2015-10-01 00:15] #264 closed

[2015-10-05 03:38] julian1 commented on #262
I set up a aatams test-instance with full restore of the production db. However after fixing #261, I am unable to replicate this.

The aatams catalina logs for two file uploads, 5 minutes before james reported the issue look fine,
[code]

And this is confirmed by the db records,

[code]

the uploaded files also exist on the filesystem
[code]

Since there is nothing unusual in the logs, I suspect a

[2015-10-05 03:46] jkburges commented on #262
I'd say it's almost definitely not on the browser side, since I was seeing the same issues (of non-loading pages) in my browser at the time this was occurring.

I think it's worth ruling this out (by running the harvester again) since it's (presumably) pretty easy to do this, and IMO, is a leading suspect (not based on any reasoning about the code as such, just the fact that it was an unusual even

[2015-10-05 04:13] xhoenner commented on #262
:+1: well worth investigating if the harvester might have caused this issue.

[2015-10-06 21:48] julian1 commented on #263
As discussed in #262 a harvester was running at the time of the reported issues. The harvester copies data using a join on the receiver materialized view.

[code]

This action acquires a shared SharedLock on receiver.

[code]

When the user enters a new tag, a corresponding insert on the device table is created.

[code]

A trigger on the device table is setup to update the receiver materialized vi

[2015-10-06 22:26] jkburges commented on #263
Do you think that if the harvester was changed to read from the `receiver view` (as opposed to *materialised* view), then this would fix this problem?

[2015-10-06 22:26] julian1 commented on #263
#### Tested fix

Postgres 9.4 includes supports for refreshing a materialized view concurrently. It works by computing new data in a background table, and generating a digest of insert/deletes actions against the materialized table - removing the very aggressive locking needs in 9.3.

To confirm the cause of the bad behavior, the test-instance was upgraded from 9.3 to 9.4 using pg_dump and pg_rest

[2015-10-06 22:41] #261 closed

[2015-10-06 22:52] julian1 commented on #263
Reserving the mat-view for search queries only? Yes that makes sense to me.

Although, I was just playing with the receiver view select. It's actually very fast,

[code]

All records retrieved in 8ms.

Are we certain it needs to be a mat-view?

[2015-10-06 22:55] jkburges commented on #263
No.  If you want to investigate changing it, you would need to make sure the tests at https://github.com/aodn/aatams/blob/master/doc/detections_performance_analysis/derived_validity/benchmark-initial.sql aren't badly affected (using same postgresql settings as on prod)

[2015-10-06 23:08] julian1 commented on #262
I was unable to replicate this, by running the aatams_acoustic_harvester at the same time as doing a detection upload.

However, depending on the progress of the harvester (over 10 hours), the specific tables it uses change.

So, I suspect a locking conflict - with a high chance that it may be related to #263.

[2015-10-07 22:38] julian1 commented on #263
Some performance benchmarks, with the view changed,
https://docs.google.com/spreadsheets/d/1SWHubkssPHxGFMKNktyvCBC0wFhBCiImcWAIpp22wDY

[2015-10-07 22:55] xhoenner commented on #240
@astecken could you please respond to my previous message? I'm in the process of prioritising bug fixing for next iteration.

[2015-10-08 00:01] julian1 commented on #263
I tested that new tags can be entered with the harvester running using the non-materialized receivier view. It works correctly.

Note, on the nectar node I am testing with (4cpu, 16Mb), with postgres memory the same as prod, the app responds very slowly when the harvester is running.  For example, logging in took about 30seconds. The new tag action is about the same.

The code is on the branch, ht

[2015-10-08 01:58] astecken commented on #240
Hi Xavier,

I have cleaned up many of those duplicates already but there are some left still that I have to sort out. What I did is that I have added the pinger tags to the existing sensors. Thus, the pingers are still in the DB and need to be deleted once I have dealt with all the other ones. I will get to this after the workshop sometime and keep you posted.

[2015-10-08 04:01] julian1 commented on #263
So, another solution,

4. Remove the receiver matview using the migration, https://github.com/aodn/aatams/compare/remove_receiver_matview

I probably like this option the most, so long as search performance is judged to be adequate but @jkburges should choose.

[2015-10-08 22:55] jkburges commented on #263
Looking at those performance benchmarks, generally the performance is around the same, but there are a couple of queries which seem to be badly affected.  I'm not sure that I want to make a call on whether or not performance is adequate without further discussion.

I would be a fan of removing the receiver matview also though, if we can get away with it.

@julian1, I'm not sure of the relevance of

[2015-10-08 23:26] jkburges commented on #263
@xhoenner, what schedule does the harvester currently run on? I think a sensible thing to do for now would be to make sure that it runs only outside of business hours, if possible, to mitigate this problem.  I'm not saying that this is the final solution, just temporary (for the next couple of years :smile: )

[2015-10-08 23:35] xhoenner commented on #263
@jkburges agreed, you'll have to ask @danfruehauf as I don't have access to that info (I think it's in chef-private)

[2015-10-08 23:36] danfruehauf commented on #263
@xhoenner Which harvester?

By default all harvesters are queuing to run at 18:00.

[2015-10-08 23:37] xhoenner commented on #263
aatams_acoustic_reporting

[2015-10-08 23:39] danfruehauf commented on #263
[code]

Which means Friday in production, and the 1st, 7th, 13th and 20th in RC. That will queue on 18:00. I cannot guarantee the exact time it will start running though.

[2015-10-16 03:42] xhoenner commented on #198
Is that still an ongoing issue @jkburges? When logged in you have the ability to change your password.

[2015-10-16 03:46] xhoenner commented on #211
Refer to https://github.com/aodn/aatams/issues/156

[2015-10-16 03:47] xhoenner commented on #152
That information is now available in the data reports http://imos.org.au/datareports.html

[2015-10-16 03:47] #152 closed

[2015-10-16 03:47] xhoenner commented on #151
Also available in the data reports

[2015-10-16 03:47] #151 closed

[2015-10-16 04:25] kereid commented on #198
@xhoenner it sure is because users cannot remember their passwords to get into the system to be able to change their password.

[2015-10-16 04:51] xhoenner opened #268 "Capture and release location should be mandatory fields"
In https://aatams.emii.org.au/aatams/animalRelease/create, `Capture Location` and `Release Location` should both be mandatory fields to avoid having releases with no lat/lon coordinates.

[2015-10-21 01:31] kereid opened #269 "Location field populated with incorrect co-ordinates"
Reported by Phil McDowall

Hi Guys,

I was just entering data for the OTN Perth Line and found a potential bug. I created a new station PRT61 and entered the LAT long: -32.07082, 115.57277. I then went to deploy a receiver at the newly created station at the “create receiver deployment” page. I selected the station name from the drop down menu and the Location field pre populated with the followin

[2015-10-26 00:04] dnahodil commented on #208
I've created a view which is based off @xhoenner's work and looks like this:
[code]
On the current production data this gives us 158 surgeries which have follow-up surgeries for the same tag. This is slightly different from the 166 that Xav's SQL gives us but I think I can account for that.

### Combining with `detection_view`
The `detection_view` view can be modified to join on this new view inst

[2015-10-26 00:36] jkburges commented on #208
I think I *may* have mentioned this already, but I think it's definitely worthwhile following up with tag owners if these tags have *really* been deployed again, or whether it's a data entry error.

[2015-10-26 00:39] xhoenner commented on #208
Good point @jkburges, @dnahodil can you extract that information for @astecken?

[2015-10-26 00:45] dnahodil commented on #208
@xhoenner and @ktattersall confirmed that we know people are redeploying tags. It may be the case that *some* of these are data-entry errors, but it's definitely not *all* of them, so we do need to handle the cases where people are doing it legitimately.

I will generate a report of the cases where this has happened in case we want to confirm them with the researchers.

[2015-10-26 04:13] dnahodil commented on #208
Okay, so these surgeries are attaching the same tag at exactly the same time. These are basically *confirmed* data errors.

[code]

[2015-10-26 04:51] dnahodil commented on #208
I now believe the above SQL is correct (I've updated it since posting). There were three errors I knew about in the results it gave. One of the errors resulted in a change to the SQL, the other two are because of the erroneous surgeries which I mentioned in my previous comment.

[2015-10-27 02:59] dnahodil opened #270 "Invalid surgeries in database"
These surgeries are using the same tag and are occurring at exactly the same time as each other. I don't think this is ever a valid situation so I think these all constitute data errors of some kind.

[code]

[2015-10-27 21:56] astecken commented on #208
@dnahodil @xhoenner could you send me a list of the remaining transmitters including project names so I can contact the owners and confirm, pls? Thanks!

[2015-10-27 23:22] jkburges commented on #249
I started thinking about this issue again due to https://github.com/aodn/aatams/pull/272, and I think the OP here is part of a broader issue.

The proposed solution in https://github.com/aodn/aatams/pull/272 puts what is essentially "business logic" (the calculation of surgery end dates) in to the Postgresql database.

This is sort of thing is already happening - particularly w.r.t. determining wh

[2015-10-27 23:51] dnahodil commented on #208
@astecken, I believe the following are the transmitters which have been attached to animals more than once.

[code]

For reference, produced with the following SQL:
[code]

[2015-10-28 07:03] astecken commented on #208
Thx, I will contact the owners and will update you on the progress.

[2015-10-29 22:31] xhoenner commented on #270
@astecken could you look into these as well please? If so let us know if you require any additional info.

[2015-10-29 22:43] xhoenner commented on #249
Agreed, it'd be best if both the reports and the db tables used to create Geoserver layers could be generated without me having to design my own SQL queries. It wouldn't be trivial to implement though as the data reports collect information from ~ 25 different db tables.

There was much excitement at the AATAMS workshop when I demo'd a prototype of the future AATAMS layer (only public tags): https

[2015-10-29 22:53] jkburges commented on #249
n + 1

[2015-10-30 01:43] jkburges commented on #263
In summary, a [before and after comparison of the change](https://docs.google.com/spreadsheets/d/117fNDAa9LjrQiVsAJI34mMMt1-e0oZkJnvQO2ypJYGE/edit#gid=0) https://github.com/aodn/aatams/compare/remove_receiver_matview show that generally, most queries slow down a little, a few slow down a lot and one quite significantly.

The proposed solution is this:

* add monitoring for actual queries that the

[2015-11-02 03:40] dnahodil commented on #208
The proposed fix will change the way detections which occur before a surgery on an animal are handled. I believe they are currently associated with the species from the surgeru (even though the surgery occurs afterwards) but now they will behave like a tag with no known surgeries.

[2015-11-04 01:52] dnahodil commented on #263
Google doc with the results from testing we did (trying to reproduce @julian1's results): https://docs.google.com/spreadsheets/d/117fNDAa9LjrQiVsAJI34mMMt1-e0oZkJnvQO2ypJYGE/edit?usp=sharing

The script we used to clear the disk caches and run the tests:
[code]

[2015-11-04 02:12] dnahodil commented on #263
The plan currently is to go down the route of upgrading Postgres to 9.4 and if there are still problems, look at making database changes.

@jkburges also investigated some other options regarding changing some joins to use new matviews instead of views.

[2015-11-04 20:31] astecken commented on #270
@xhoenner: I put it on my list of things to do but it'll take me a while. I'll let you know when made some progress!

[2015-11-09 11:20] jkburges commented on #263
Fixed by upgrading to PostgreSQL 9.4

[2015-11-09 11:20] #263 closed

[2015-11-09 11:21] #262 closed

[2015-11-09 11:22] #258 closed

[2015-11-12 03:34] kereid commented on #241
@astecken can you provide an update on where you are at with this?

[2015-11-22 22:04] julian1 commented on #208
Hi @xhoenner

@dnahodil  and I have created a new aatams detection_view that joins the sensor and detection tables while respecting date sensitivity. Tests shows that performance is on par with the current detection_view, but it would be good if you had a chance to confirm correct behavior.

We have set up a test instance with a copy of the aatams db and app at 52.64.252.206​ where you can run som

[2015-11-22 23:35] jkburges commented on #208
Done.

[2015-11-22 23:37] xhoenner commented on #208
Lovely, thanks @jkburges! I'll test that out for you guys.

[2015-11-22 23:51] dnahodil commented on #208
Let us know if you want a hand, @xhoenner, we'll be happy to look at the DB with you. It's important that we're *completely* satisfied with the results and the reduction in the number of detections as this will be the last opportunity before it goes out into the wild.

[2015-11-23 01:38] xhoenner commented on #208
@astecken please disregard @dnahodil's list as the tag ids were not correctly computed, here's below the list you have to work with

[code]

For reference, produced with the following corrected SQL:
[code]

[2015-11-23 02:42] xhoenner commented on #208
It's looking all good @dnahodil and @julian1, both in terms of expected behaviour and performances, nice work guys!

FYI @astecken I just did a count to compare the number of detections for the above list of tags before and after the fix: the total number of valid detections will drop by 1.2 million.

[2015-11-23 03:23] astecken commented on #241
@kereid I'm not sure if it was up to me to proceed with things, see @jkburges from 24 Aug:

'I have spoken to @pblain, and although we are happy with the process outlined above, unfortunately we don't plan to proceed with them at present (at least in the next couple of weeks or so).'

Let me know what I can do!

[2015-11-23 22:51] xhoenner commented on #208
@dnahodil I did some additional testing and I'm confident that your fix doesn't get rid of detections before any surgery happened so that's great.

I also compared the total count of the valid detection table before and after the fix. I still come up with a difference of 1.2 million detections, which shows that only detections from the above list of tags will be dropped.

[2015-11-23 22:53] xhoenner commented on #250
@dnahodil did you end up cleaning these up?

[2015-11-23 23:03] xhoenner commented on #224
This has now been implemented here https://github.com/aodn/aatams/tree/master/test/integration/au/org/emii/aatams/monthlyreport.

[2015-11-23 23:03] #224 closed

[2015-11-23 23:04] xhoenner commented on #211
This is the same issue as https://github.com/aodn/aatams/issues/156.

[2015-11-23 23:04] #211 closed

[2015-11-23 23:24] xhoenner commented on #123
Still current, 113 records are returned now instead of 108 when running the above query.

IMO this issue requires to:
* Prevent users in the web app to create an animal record without an animal_release record.
* Clean up the existing 113 animal records that don't have a corresponding animal_release record.

[2015-11-24 00:02] dnahodil commented on #250
I haven't, yet

[2015-11-24 00:23] astecken commented on #123
@xhoenner could you send em a list with those 113 animal records incl. project so that I can contact owners? Then I could at least work on that part of this issue.

[2015-11-24 01:02] xhoenner commented on #123
Unfortunately I can't do that @astecken since these animal ids are not found in the animal_release table, which holds project-related information.

[2015-11-24 01:51] dnahodil commented on #208
Great. Thanks, @xhoenner :+1:

[2015-11-24 01:57] astecken commented on #123
@xhoenner What do you suggest instead? Can we identify at all who has entered this data so we can contact them?

[2015-11-24 02:12] xhoenner commented on #123
No there's no way to link these erroneous metadata to any project. The clean up will therefore have to be done from our end.

This issue is not critical but it is puzzling to see that people managed to enter animal information without any reference to the animal_release table as this is all done through https://aatams.emii.org.au/aatams/animalRelease/create. Any idea how this might have happen @dn

[2015-11-26 00:26] xhoenner commented on #241
Another acceptance criteria when addressing this issue was raised by James Van Den Broek: the web app should allow two receiver deployments to have the same initialisation date. The reason being that (although not common) there will be a number of cases where researchers do not reinitialise their receivers between deployments. This does not mean there is an error in the data.

[2015-11-26 03:52] dnahodil commented on #241
I think to apply the logic of allowing the same initialisation date over multiple deployments we'd need to update this code: https://github.com/aodn/aatams/blob/f41c501a462759219bd2ac816f62cf9580ee29f6/grails-app/domain/au/org/emii/aatams/ReceiverDeployment.groovy#L202-202

The 'undeployable interval' would change to start at deployment date rather than the earlier of deployment date or initialisa

[2015-11-26 04:37] dnahodil commented on #123
Okay, I've checked things out and I've found a way that animals can be created without a release. My suggestion is this:
* We remove this method of creating Animals
* We clear the erroneous records from the database
* We come back in 6 months and see if there are any new ones

To note: I had a theory that if you were entering an animal release but had an error in the form that an animal might be c

[2015-11-26 06:04] dnahodil commented on #241
An example of how we could improver the receiverDeployment screen, which currently highlights invalid deployments with red, can be found at https://github.com/aodn/aatams/tree/show_receiver_deployment_errors. This was just thrown together so will need to be checked/reviewed.

It adds an icon to deployments with errors which on mouseover gives you the error codes. The error codes aren't great (i.e.

[2015-11-26 21:37] xhoenner commented on #208
@julian1 and @dnahodil this has now been deployed anb is functional in production, are you guys happy to close this issue?

[2015-11-26 21:40] xhoenner commented on #122
@dnahodil would you mind double checking that this issue is not similar to https://github.com/aodn/aatams/issues/123?

[2015-11-26 22:41] dnahodil commented on #208
Yeah, absolutely!

[2015-11-26 22:41] #208 closed

[2015-11-26 22:46] dnahodil commented on #241
We also need to check if having an initialisation date which is before an earlier deployment (when you only initialise the receiver, once) might affect the receiver events logic?

[2015-11-26 23:35] dnahodil commented on #123
I've been thinking a bit and I think if this way I've just found of creating animals was being use/abused then I think we'd have more extra animals than we currently do. We still need to fix it, but my gut says that these erroneous animals are probably being created by the animal released page (maybe people going back and editing a release after it is already created?)

[2015-11-26 23:36] dnahodil commented on #122
There is a similar problem with the species (where you can create them in a way you shouldn't be able to) but it's much less likely to be the cause of this data.

[2015-12-08 02:58] xhoenner commented on #240
Any progress on that @astecken? Are you able to proceed as described in your last comment (*i.e.* delete pingers) or are you blocked by the delete functionality (https://github.com/aodn/aatams/issues/204) being currently disabled?

[2015-12-08 04:31] xhoenner commented on #122
As it turns out, all of the 107 rows returned by the above query are also returned by the following query
[code]

Not sure what's the purpose of the version field but it seems like people have been able to enter things manually into the `species` table as suggested by the content of the name field in the list below (*e.g.* 'sentinel tag', 'example 1' twice, 'control tag' 9 times).

id | version |

[2015-12-08 04:47] jkburges commented on #122
It's used by hibernate (the "object relational mapping" framework), and is incremented each time a row is updated.  It's nothing special for AATAMS.

[2015-12-10 03:07] astecken commented on #240
There's still a few left and I will deal with any outstanding issues in the new year. But yes, the delete function needs to be back before I can delete the double entries. Talk soon!

[2015-12-21 00:21] danfruehauf opened #282 "App taking 400% cpu in production"
Related to:
https://github.com/aodn/internal_discussions/issues/175

Obviously it prevents access to the app while this is ongoing.

[2015-12-21 00:22] danfruehauf commented on #282
I can't quite tell whether it is user triggered or periodically triggered. Nothing too suspicious in the logs.

[2015-12-21 00:35] jonescc commented on #282
Connection leak?  In thread dump below - all db connections are waiting to borrow from the pool.

[jstack-aatams.txt](https://github.com/aodn/aatams/files/68008/jstack-aatams.txt)

[2016-01-04 23:10] xhoenner opened #283 "Implement QC flags in the AATAMS database"
<b>Purpose<b>

Having QC flags for each detection so that users can see which detections might be erroneous and why.

<b> Background <b>

Extensive work was carried out last year with @astecken, Colin Simpfendorfer and Kath to develop R scripts that analyse detections for each transmitter ID and output a suite of eight different QC flags. Three of those QC flags are based on the time and location

[2016-01-11 02:15] xhoenner opened #284 "Valid detections associated to upload errors"
I was tasked by @astecken to extract the number of detections uploaded in the db through time so I came up with the following query.

[code]

The results of this query show that 6.8 million detections in the `valid_detection` view come from 29 csv uploads that generated errors, see the table below.

receiver_download_id | import_date | email_address | err_msg | type | count
-------------------- |

[2016-01-11 05:29] jkburges commented on #284
The upload process is not transactional, that is, detections are loaded in to the DB progressively (in chunks) as the file is processed.  So probably what's happened here is that some have made it in before an error has occurred.

Those file upload errors are all from a pretty long time ago, so we're not going to have log files or anything to check exactly what's going on in any more detail.

You

[2016-01-12 21:13] xhoenner commented on #284
Thanks @jkburges for those details, that makes perfect sense. I don't think this needs to be further investigated at this stage, if I understand correctly what happened:

   1. A user started uploading a file to the web app.
   2. As the file was being processed, detections were being loaded into the db.
   3. An error was encountered by the web app at some stage in the file (or in most cases as d

[2016-01-12 21:13] #284 closed

[2016-01-13 05:34] xhoenner commented on #191
That's the expected behaviour to download detections of unregistered tags as they don't show up in the drop down menu.

[2016-01-13 05:34] #191 closed

[2016-01-29 00:53] astecken opened #286 "Embargo Email Notification"
I received this email from Matt Taylor (NSW Fisheries) today and it might be an issue for other people with hundreds of tags:

I received 85 emails from eMII today about embargo's expiring.
The same happened a few weeks ago, when I got the two-week warning. I am preparing to input about 800 tags into the database over a period of a few weeks. I shudder to think of my inbox when these embargo's exp

[2016-02-01 00:12] astecken opened #287 "Simultaneous chronological deployment/recovery issues"
Fernanda wrote:

Most of the problems that cause the a deployment/recovery to be highlighted come from either,
1.       A deployment time coming before the initialisation time; or
2.       A recovery time coming after the next deployment initialisation time

In regards to the example below from the Townsville Reefs project, we have both errors occurring and it is not possible to fix. When you try

[2016-02-08 03:53] xhoenner commented on #287
This is the same issue as https://github.com/aodn/aatams/issues/241

[2016-02-08 03:53] #287 closed

[2016-02-08 04:04] xhoenner commented on #80
@astecken is a member of that project and wasn't able to recreate this issue.

[2016-02-08 04:04] #80 closed

[2016-02-08 04:14] xhoenner commented on #269
Tested with @astecken and we weren't able to recreate this issue.

[2016-02-08 04:14] #269 closed

[2016-02-08 04:40] xhoenner commented on #270
Here's the corresponding list of people to contact in relation to these duplicate surgeries.

tag_id | transmitter_id | name | email_address
------ | -------------- | ---- | -------------
2240471 | A69-1601-844 | Gulf St Vincent monitoring | charlie.huveneers@flinders.edu.au
3084778 | A69-1303-49143 | Gulf St Vincent monitoring | charlie.huveneers@flinders.edu.au
43669350 | A69-9002-14739 | Townsv

[2016-02-08 04:46] xhoenner commented on #257
This issue is part of #204.

[2016-02-08 04:46] #257 closed

[2016-02-08 04:46] xhoenner commented on #204
Some additional specs, as specified by @jkburges in #257:

"There are two use cases:

1. A user no longer can have or wants access to the DB altogether
2. As above, except at an individual project level

We cannot simply delete the user (or their associated project roles), as the user is still referenced in the system (e.g. as a recoverer), and deleting the user record would result in this associa

[2016-02-10 03:51] xhoenner commented on #204
After chatting to @astecken we refined the specs for this issue:
  * sysadmins must be able to deactivate (change status to inactive as for organisations and projects) or "soft delete" users to restrict access to the web app. Soft deletes are critical here as a hard delete of users would result in this associated data also being deleted.
  * sysadmins (along with PIs @astecken ?) must be able to t

[2016-02-10 04:15] jkburges commented on #204
This is true, although it *will* affect what is visible in the various detection views.  The raw data (as such) won't be affected though.

In general, a good plan.  Much better than allowing users to trigger cascading deletes - definitely an accident waiting to happen IMO.

[2016-02-19 00:45] xhoenner commented on #209
@julian1 has set up a test instance of the web app and db for us to play with @astecken. Let's try and re-create that bug when I'm at SIMS as I haven't managed to do that myself.

[2016-02-22 23:35] kereid commented on #209
I wrote to Alicia yesterday to ask if she still sees this issue, but my interpretation is that she hasn't needed to enter data since reporting the issue in 2014 and did enter all the data then. So if it can't be reproduced then perhaps changes since then have resulted in this issue being rectified.

Alicia's email from yesterday:

If I remember correctly the problem I was having in 2014 was that t

[2016-02-23 00:33] xhoenner commented on #209
Thanks @kereid for chasing that up. Since we weren't able to recreate this issue yesterday on the AATAMS test instance I'll close this issue.

[2016-02-23 00:33] #209 closed

[2016-02-23 23:40] astecken opened #288 "Email hotlink for tag detections"
Users asked for the following enhancement during the workshop 2015:

Create hotlink in email notification regarding tag detections  so they can be quickly visualised on map where detections occurred. Maybe similar to search polygon in Ocean Portal where area can be searched for detections.

[2016-02-23 23:56] astecken commented on #210
Russ Babcock commented on this during the workshop 2015:

Automatic uploads should be possible from other databases such as access etc. as well:

'This is similar to what we tried to do in the early days when trying to bulk transfer legacy data bases into the AATAMS DB. It must be possible to find some way to bulk export/output all the data that is in these data bases, such as  tags, tagging data,

[2016-02-24 00:01] astecken opened #289 "Availability of temperature data from miniloggers"
During the workshop 2015 Russ Babcock asked to make the temperature data available that is collected by temperature miniloggers on some Animal Tracking stations. Could that be part of other IMOS datastreams?

[2016-02-24 00:31] astecken opened #290 "Active recording stations quick-plot"
Russ Babcock asked for this enhancement to be implemented during the workshop 2015:

Implement a quick plot of stations that were actually recording data compared to when they weren't to be able to relate this info to residency/roaming indices. Something like the VUE detection data output maybe, (anything really) where you can see a timeline for each receiver that portrays when the gear was there

[2016-02-24 00:36] xhoenner commented on #290
Isn't it what this layer https://imos.aodn.org.au/imos123/home?uuid=4a97bd11-e821-4682-8b20-cb69201f3223 and its associated filters allow people to do?

[2016-03-02 03:55] xhoenner commented on #282
This issue hasn't resurfaced since late last year so we decided to close it.

[2016-03-02 03:55] #282 closed

[2016-03-02 04:00] xhoenner commented on #268
And while modifying that webpage it'd be good to alos get rid of the obsolete `Animal` field.

[2016-03-15 04:48] astecken opened #291 "Entered tags not available for tag release"
I tried to enter the following serial numbers for tags:
1060779, 1060784, 1060785, 1060786, 1060788
They do exist in the DB under the NSW DPI CEFT project but for some reason I cannot choose them from the drop down menu under tagging when creating a new tag release.

[2016-03-15 20:34] xhoenner commented on #291
I was able to recreate this issue, and am not sure how the drop down menu list gets generated. Can you still add release information to those tags @astecken? If so does it make the whole process more tedious? We need to know these two bits of information to prioritise this bug and understand the impact on users.

[2016-03-16 00:34] xhoenner commented on #268
@astecken, running the following database query returns 77 rows (see below). If you could put in at least a lat/lon set of coordinates for either the release or the capture, then I should be able to get this issue fixed.

[code]

project_name | transmitter_id | capture_locality | release_locality | release_status
------------ | -------------- | ---------------- | ---------------- | --------------

[2016-03-16 00:50] xhoenner opened #292 "Data licence and use limitations, data citation"
Currently there's no pop-up window on the AATAMS web app when people download detections through the [Tag Detections page](https://aatams.emii.org.au/aatams/detection/list). The data committee would like a similar pop-up as the one on Step 3 of the portal
![screen shot 2016-03-16 at 11 40 39 am](https://cloud.githubusercontent.com/assets/3443821/13798655/b8ab38b0-eb6c-11e5-9f48-1047939563cc.jpg)

[2016-03-16 03:27] atkinsn commented on #292
I have looked back through my notes - and had a meeting with @jachope and Marian on 7th of May last year. We discussed the need to have a specific AATAMS data acknowledgement page, with a division of whether it was IMOS data or "other". We needed to provide guidance on how to determine the citable party - wasn't clear from current set-up. And therefore do we need to make it clear? So then Jac and

[2016-03-16 04:40] xhoenner opened #294 "Erroneous release location"
@astecken here's below a list of 284 animal releases having erroneous release or capture lat/lon coordinates. I believe most of them are due to the fact that people put in latitude North instead of South when releasing their tags so I could easily change the latitude sign to minus (North used to be the default in the web app). Could you have a look at that list and advise what needs to be done?

t

[2016-03-16 07:15] astecken commented on #291
No, I cannot add any release information. This is what I meant ;) I'll try to explain in more detail:
Go to 'create new tag release', click on 'create tagging'. If I try to copy and paste the serial number into the appropriate field, it won't show up in the drop down menu to choose from (to pre-populate the remaining fields in this section). Is this a bit clearer now?

[2016-03-16 07:51] astecken commented on #268
No problem, am onto it. However, when I checked the first two, e.g. A69-9002-14269, they were already entered correctly. Could you double check that list, pls? Thanks!

[2016-03-16 08:25] astecken commented on #294
I changed a few entries and some (the WA Tuna and CSIRO ones) should be correct. All others can be  changed from N to S, pls. I will send you an excel spreadsheet with detailed comments by email now.

[2016-03-16 22:52] xhoenner commented on #291
Thanks @astecken for those details, I was able to create tagging by manually populating the remaining fields, but do realise that this is really painful and more prone to entry errors.

[2016-03-16 23:02] xhoenner commented on #268
Yes, double checked it, turns out there are a whole lot more tags, I've updated the list above.

[2016-03-17 00:19] xhoenner commented on #294
Great, thanks @astecken, the only remaining tag to change is A69-1303-56549 which has a longitude of 14. instead of 146.

[2016-03-17 04:08] xhoenner commented on #289
@astecken could you ask Russ to send you some of his temperature data and then flick that to me so that we can see how that might be implemented in the web app?

[2016-03-17 04:10] xhoenner commented on #210
Same thing here @astecken, it'd be great if you could get a backup of Russ' legacy databases for us to assess the work that would be involved in automating such a transfer.

[2016-03-17 06:46] astecken commented on #291
Hi Xavier! Will you be able to fix this bug?

[2016-03-17 06:50] xhoenner commented on #291
@smancini, @pblain this needs to become a VIT as @astecken can't do any data entry without the drop-down menu functioning correctly.

[2016-03-17 06:56] astecken commented on #268
Hi Xavier! Could you update the list again tomorrow afternoon, pls? Rosa and I am just entering the lot from the original list. Would be good to see what's left after that. Thanks!

[2016-03-18 00:06] pblain commented on #291
I'm happy for this to be a VIT, but I'll leave it to @smancini to make the call.  If this becomes a VIT it is likely that @julian1 will pick it up.  The possible impact on this iteration is that the vocab versioning design (that Julian is working on) will not get done this time around.  I guess it comes down to whether or not @astecken can wait a couple of weeks.

[2016-03-20 23:41] astecken commented on #291
It would be great to have this issue sorted asap so I can deal with crucial data entry re unregistered rags in the DB. Thanks a lot to make this a VIT!

[2016-03-21 00:32] xhoenner commented on #291
@jkburges I am thinking that this bug is due to the fact that all serial numbers in the above list are for tags with multiple ping codes? For instance serial_number 1060788 corresponds to a unique tag_id (108925426) but multiple transmitter_ids ("A69-1105-215" and "A69-1105-214"). See https://github.com/aodn/aatams/blob/master/web-app/js/addsurgerytoanimalrelease.js

[2016-03-21 00:42] jkburges commented on #291
The bit of code that creates the list of tags is this: https://github.com/aodn/aatams/blob/master/grails-app/services/au/org/emii/aatams/CandidateEntitiesService.groovy#L64

So I would start looking there to see if the tags are showing up.

I *doubt* that it's got anything to do with tags having multiple transmitter IDs, but I could be wrong!

[2016-03-21 00:43] jkburges commented on #291
Nice avatar btw @xhoenner.

[2016-03-21 01:44] xhoenner commented on #291
Thanks @jkburges! I've done some testing @astecken: as @kereid suggested, these tags don't show up in that drop down menu as their status are 'DEPLOYED'. If changed to 'NEW' you should see them in that list.

Unfortunately, as the tags you've got listed there have multiple ping codes, you won't be able to change their status through the 'Edit Tag' page as it will throw the following error when you

[2016-03-21 01:51] xhoenner commented on #291
Thanks mate, part of the quadriptych I did a couple of years ago for Movember; beware though, this is PG classified material, it may (definitely does actually) contain content that children find confusing or upsetting.

![mo copy](https://cloud.githubusercontent.com/assets/3443821/13909123/dd33dfbc-ef62-11e5-9aea-31590703a23c.jpg)

[2016-03-21 03:12] xhoenner commented on #268
292 releases left with no lat/long for the capture and release.

project_name | transmitter_id | capture_locality | release_locality | release_status
------------ | -------------- | ---------------- | ---------------- | --------------
AATAMS / OTN Maria & Flinders Island Lines Tasmania | A69-9002-14727 | Upper Pittwater | Frederick Henry Bay | CURRENT
AATAMS / OTN Maria & Flinders Island Lines Tas

[2016-03-22 03:17] julian1 commented on #291
It's not just children that find them confusing or upsetting.

[2016-03-22 05:34] astecken commented on #294
I changed this one too now ans it should all be cleaned up.

[2016-03-22 06:32] astecken commented on #291
Great pictures!

@xhoenner if I send you a spreadsheet with all the serial numbers/tag IDs, would you be able to change them from DEPLOYED to NEW? I am not sure how they can be deployed. When you search for the tag ID code, e.g. A69-1105-196 (serial number 1060779), in the tag release field there are now results found. Hence, these tags can't be deployed. Or am I missing something here?

[2016-03-22 22:47] xhoenner commented on #291
I suspect these tags were flagged as deployed when people entered these tags in through the Create Tag page. Send me a list of all the serial numbers you want me to change from deployed to new and I'll take care of that.

[2016-03-22 22:53] xhoenner commented on #294
Thanks @astecken, I'll fix up the other ones and will get another extract from the db then.

[2016-03-22 23:09] jkburges commented on #291
This problem could be solved by deriving the a tag's status from whether or not there's an associated release (and the date of the release) rather than relying on users to enter in the status.  This is what is done for receivers.

I thought I had put an issue in for this - can't find it in github - but it may have been in redmine it was that long ago!

[2016-03-23 00:33] xhoenner commented on #268
I don't think this issue can be closed as we still need to enter release/capture locations for releases that don't have any. More of a data issue now as users won't be able to leave those fields blank anymore

[2016-03-23 02:01] xhoenner commented on #291
I agree this seems to be the best option to avoid this kind of errors in the future. How would you deal though with the other possible tag status (*e.g.* recovered, retired, stolen, lost)?

[2016-03-23 02:50] jkburges commented on #291
First question would be to ask if anyone would actually *need* these statuses for tags (how do you determine that a tag is lost for example, and not just still deployed?) - so it's a bit different from receivers in that respect.

In any case, you could still allow users to override/update a status, but certainly the default should be based on whether there's a release or not, and ordinarily users

[2016-03-23 05:48] xhoenner commented on #291
Here's below a breakdown of the number of registered tags grouped by status.

status | count
------ | -----
DAMAGED | 4
DEPLOYED | 5045
LOST | 31
NEW | 1556
RECOVERED | 230
RETIRED | 1
 | 1907

Yes, that does sound like the way forward, the status for a given tag ID should be changed automatically to deployed when that tag gets assigned to an animal release in https://aatams.emii.org.au/aatams/ani

[2016-03-23 23:02] xhoenner commented on #270
Any progress on that @astecken ?

[2016-03-23 23:04] xhoenner commented on #250
Fixed up by https://github.com/aodn/aatams/pull/296.

[2016-03-23 23:04] #250 closed

[2016-03-24 01:36] jachope commented on #292
Thought I commented on this last Wed, but must have not pressed the right buttons - I was in a rush!

Nat's recollection is correct in that we were looking at ways that we could advise users to identify the owners of the AATAMS collections and therefore cite and acknowledge data use correctly.  We knew this was going to become increasingly important with other (non-IMOS) data providers.  We were d

[2016-03-30 01:48] astecken commented on #210
Done. I just asked Russ to send you sample files per email.

[2016-03-30 02:38] astecken commented on #291
@xhoenner I am sending you a list of the tag SN now so they can be changed from deployed to new. Let me know when you have amended those so I can continue with the data entry :)

As for tag status in general, I think there shouldn't really be any other status than deployed or new, i.e. new when just created and deployed when released. Usually tags stay in an animal for the rest of their lives unti

[2016-03-30 05:19] xhoenner commented on #291
Thanks @astecken, I'll take care of changing the serial number of those tags, it won't happen before next week though.

Here's below the list you requested.

transmitter_id | serial_number | project_name | status
-------------- | ------------- | ------------ | ------
A69-9001-21544 | 1219879 | MQ Port Jackson shark movements and social networks | RECOVERED
A69-1303-36454 | 1091564 | NSW DPI (Artif

[2016-03-31 01:15] astecken commented on #291
@xhoenner I contacted the owners and will get back to you once I hear from them.

[2016-03-31 02:24] astecken commented on #294
Are those all sorted now?

[2016-03-31 02:27] astecken commented on #268
@xhoenner I fixed up all missing lat/lon. Could you double check if they are all sorted now or if I missed anything? Thanks!

[2016-03-31 02:48] xhoenner commented on #294
not yet no

[2016-03-31 02:53] xhoenner commented on #268
Outstanding work @astecken! Only 5 left

project_name | transmitter_id | capture_locality | release_locality | release_status
------------ | -------------- | ---------------- | ---------------- | --------------
Chondrichthyan monitoring of south-east Australia | A69-1105-224 | Upper Pitwater | Upper Pitwater | CURRENT
Chondrichthyan monitoring of south-east Australia | A69-9002-8213 | Upper Pittwa

[2016-03-31 03:06] astecken commented on #268
Sorted!

[2016-04-07 21:16] xhoenner opened #301 "Remove accidentally entered VR2ARs"
Hi Xavier,

I have just accidentally created several new VR2ARs in the AATAMS Database which are actually VR2Ws that are already registered. Can you please remove the following VR2ARs when you have the chance please?

114543
114535
120741
102026
105863
113118

Thanks Mate.

Phil.

Phil McDowall
IMOS Animal Tracking Facility
Sydney Institute of Marine Science (SIMS)
19 Chowder Bay Road, Mosman, NSW

[2016-04-07 21:52] #301 closed

[2016-04-08 03:08] #268 closed

[2016-04-11 01:40] astecken opened #306 "Organisation cannot be edited by affiliated person"
Recently, a new researcher registered for the webapp and couldn't edit the organisation that he created after he was activated. Every user should be able to edit their own organisational details. Thanks!

[2016-04-11 04:51] xhoenner commented on #291
@astecken the status of all the tags in the list you sent me has now been changed to NEW so you should be able to proceed with the data entry.

[2016-04-11 04:52] xhoenner commented on #301
@astecken could you please let Phil know that this issue has now been resolved?

[2016-04-11 23:28] astecken commented on #291
Will do. Thanks!

[2016-04-11 23:29] astecken commented on #301
Done.

[2016-04-12 00:34] astecken commented on #270
I contacted all investigators and are awaiting their response. I'll keep you posted.

[2016-04-12 04:42] astecken opened #307 "Embargo date needs to be associated with tag release date"
Currently, the embargo date can be set when a tag release is entered into the DB and is related to the entry date. This needs to be changed so that the embargo date is related to the tag release date.

@xhoenner Do you want to comment on how you tested this when the question came up?

[2016-04-12 23:07] xhoenner commented on #288
@astecken also asked the following:

No idea where to find that information in the web-app code, any idea @julian1?

[2016-04-12 23:14] xhoenner commented on #307
I did some testing and looked at the web app code, embargoes start when tag metadata are entered. In other words the underlying code for embargoes doesn’t take into account the release or capture dates.

[2016-04-12 23:24] xhoenner opened #309 "Delete manually entered duplicate tag entry"
From @astecken

Hi Xavier,

Would you be able to delete on of Lachlan's duplicate entries, pls? Thanks!
________________________________________
From: Lachlan Fetterplace [lcf775@uowmail.edu.au]
Sent: Tuesday, April 12, 2016 12:44 PM
To: Andre Steckenreuter
Cc: Nathan Knott
Subject: Re: Range test tags in IMOS Animal Tracking Database

Hi Andre

I just added all 20 of our sync tags from the Jervis

[2016-04-12 23:25] xhoenner commented on #309
No worries @astecken, which of the two transmitter type shall I delete though: the pinger or the range test? See https://aatams.emii.org.au/aatams/searchable?q=1199090

[2016-04-12 23:54] astecken commented on #270
@xhoenner Can you go ahead and delete all duplicate entries, please? Thanks!

[2016-04-13 00:28] astecken commented on #309
They should all be range test tags, so delete the pinger, pls :)

[2016-04-13 01:59] astecken opened #310 "Change of Range Test Tag specs"
@xhoenner I tried to change all transmitter types of tags under the Bondi range experiment 2009 from 'pinger' to 'range test'. However, I cannot change transmitter type through the webapp. Could you do this for me, pls?

Also, the remaining temperature tag A69-1303-1 can be deleted as it is already associated with A69-1303-14657.

Thanks!

[2016-04-14 00:57] xhoenner commented on #268
No rows returned, nice work @astecken and @julian1!

[2016-04-14 03:46] xhoenner opened #312 "Double tag release entries"
From @astecken:

Hi Xavier,

Could you delete the following for Nathan, please? Thanks!

It also appears as though one of the sharks has been listed as having two transmitters. Would it be possible to remove the second tag (i.e. 34797) from this individual? I was unable to do this on my own.

A69-1303-32586
A69-1303-34797
37007001 - Heterodontus portusjacksoni (Port Jackson Shark)	2013-08-03T12:47

[2016-04-14 05:15] xhoenner commented on #294
Only six left now. The longitude of the 3rd record is definitely wrong, can you update this record in the web app @astecken? If you're happy with the other records, I'll close this issue.

transmitter_id | tag_id | project_name | longitude | latitude
-------------- | ------ | ------------ | --------- | --------
A69-1303-154 | 19983397 | Bluefin tuna WA | 118.8166667 | -39.66666667
A69-1303-8509 |

[2016-04-14 05:28] xhoenner commented on #312
What shall I then do for tag id A69-1303-32588 that has been released twice @astecken? I did check and both releases are exactly identical.

[2016-04-14 23:26] #312 closed

[2016-04-14 23:26] #310 closed

[2016-04-14 23:26] #309 closed

[2016-04-18 00:06] astecken commented on #294
@xhoenner Changed the 3rd entry but all others are correct. You can now change the script if you like :) Thanks!

[2016-04-18 00:08] astecken commented on #312
@xhoenner Pls, delete one entry. Thanks!

[2016-04-18 00:30] #294 closed

[2016-04-18 01:46] xhoenner commented on #208
From @astecken:

AATAMS Heron Island     A69-9002-6722   PINGER,PRESSURE
AATAMS Heron Island     A69-9002-6723   PINGER,PRESSURE
AATAMS Heron Island     A69-9002-6724   PINGER,PRESSURE
Could you generate a list (project, tag ID, transmitter type) of those and I double check which ones need to be deleted?

See below Andre, about 300 tags indeed still have duplicate entries. Let me know what needs t

[2016-04-18 01:56] xhoenner commented on #312
@astecken see below for A69-1303-34797, this tag is still outstanding (it looks like there's an error in the serial number for the 1st record). Would you mind passing that information on to Nathan so that he can advise what he wants us to do?

![screen shot 2016-04-18 at 11 53 36 am](https://cloud.githubusercontent.com/assets/3443821/14591907/473f4ad6-055c-11e6-9004-49a54fa0aa77.jpg)

[2016-04-18 04:46] astecken commented on #208
@xhoenner I sent you the above list that you generated with info on what to do with each duplicate entry in an email. Thanks!

[2016-04-18 04:52] xhoenner commented on #208
Excellent, I'll get on with that tomorrow!

[2016-04-18 04:58] astecken commented on #312
Pls, delete V13 tag model.

[2016-04-18 05:04] astecken commented on #208
Thanks! Could you generate a new list after you have done the amendments that shows the tag releases for each tag ID, pls? I saw that most tag IDs had multiple tag releases. I would like to verify those with each researcher before deletion.

[2016-04-18 05:31] xhoenner commented on #245
This one can be closed now, @pblain or @julian1 you can also close https://github.com/aodn/backlog/issues/295

[2016-04-18 05:31] #245 closed

[2016-04-21 01:55] astecken commented on #204
@xhoenner While this function is not back, could you deal with the list with entries that need to be deleted that I sent you, pls? That would be awesome!

[2016-04-21 01:58] astecken commented on #240
@xhoenner In the excel spreadsheet that I just sent you is also one worksheet that has duplicate pinger entries. Could you delete all pingers so that only the sensor entries are in the DB, pls? Thanks!

After that it might be useful to generate another list as above to see what's left :)

[2016-04-22 00:03] xhoenner commented on #240
@astecken also asked to delete all transmitter IDs in the list below that are pingers.

project_name | transmitter_id | transmitter_type
------------ | -------------- | ----------------
AATAMS Heron Island | A69-9002-6722 | PINGER,PRESSURE
AATAMS Heron Island | A69-9002-6723 | PINGER,PRESSURE
AATAMS Heron Island | A69-9002-6724 | PINGER,PRESSURE
AATAMS Heron Island | A69-9002-6725 | PRESSURE,PINGE

[2016-04-22 00:23] xhoenner opened #319 "Miscellaneous data content errors"
Listed by @astecken.

item | andres_comment | xaviers_comment
---- | -------------- | ---------------
mq project | doesn’t exist | done
Stradbroke workshop project | test project | done
deployment 2015-01-19, 10:02:06, Coral Bay BB6, receiver 114574 | pls delete | done
one of Fiona Small accounts | ask which one; anything entered under this account?: smallf or princess | Not dealt with this
CL1, 1

[2016-04-22 02:50] xhoenner commented on #270
@astecken I'm not sure which of the two I should delete for each duplicate. Can you provide me with the list of ids (first column in https://github.com/aodn/aatams/issues/270#issue-113495770) that should be removed?

[2016-04-22 03:04] xhoenner commented on #123
Still current, 468 records are returned now instead of 113 when running:

[code]

https://github.com/aodn/aatams/pull/322 will clean up these erroneous records but it looks like there is still a way for animals to be created without a corresponding release since the number of records mentioned above increased threefold since Nov. 24 2015.

[2016-04-22 03:07] xhoenner commented on #240
@astecken it'd be useful if you could list in here the type of transmitter associated with each code space so that we may be able to implement some database constraints. That way we won't have to go through the process of fixing up wrongly assigned transmitter type on a regular basis.

[2016-04-22 03:35] xhoenner opened #323 "Exporting AATAMS data and metadata from OTN PIs"
From: Lenore Bajona (Lenore.Bajona@Dal.Ca)
Sent: Saturday, 2 April 2016 6:21 AM

And below is @jkburges' original response back in 2012 to this same request:

   * embargoed tags and their associated releases only visible to users with the appropriate permissions (this probably doesn't apply to OTN, since after talking to Andrew, it is apparent that they have no tag or release data);
   * station/

[2016-04-22 03:45] xhoenner commented on #291
Any progress on that front @astecken?

[2016-04-22 05:17] phwalsh commented on #323
A bulk extract for OTN would only include publicly available data, so would need to exclude all protected and embargoed data (Probably obvious, but worth mentioning).

[2016-04-22 19:04] jdpye commented on #323
The "from OTN PIs" bit is the telling part for this ticket, Peter. The simplest solution by far would be that you forward (with implicit or explicit OTN PI permission, whichever you prefer) the data as it was originally submitted to you. We'll then handle the format conversion if necessary.

I'd prefer this immensely because it greatly reduces the work necessary on your part in the delivery of thi

[2016-04-26 03:21] astecken commented on #270
@xhoenner I sent you the list per email. Thanks!

[2016-04-26 03:30] astecken commented on #240
**Code space  Comments**
9002             sensor only
9004             sensor only
1601             pinger only
9001             pinger only
1303             sensor, alternating with 1105
1105             pinger, alternating with 1303; heavily replicated

Does this help, @xhoenner ?

[2016-04-26 04:12] astecken commented on #291
@xhoenner I have heard from some researchers and just followed up again on the remaining ones ;) I'll keep you posted.

[2016-04-26 05:52] xhoenner commented on #240
That's precisely the information I was after, thanks @astecken!

[2016-04-27 22:42] xhoenner opened #326 "Delete pinger entries"
From @astecken:

On 27 Apr 2016, at 12:02 PM, Andre Steckenreuter <Andre.Steckenreuter@sims.org.au> wrote:

Hi xavier,

Could you delete the following pinger entries, pls? Thanks heaps!

A69-9001-65177
A69-9001-65178
A69-9001-65179
A69-9001-65180
A69-9001-65181
A69-9001-65182

[2016-04-27 22:48] xhoenner commented on #326
@astecken FYI I could only see the first two pingers in the web app.

[2016-04-27 23:02] xhoenner opened #328 "Revamp Tag Detection List page and CSV"
Minor, mostly cosmetic, changes to the tag detection webpage and CSV file downloaded:

[Tag detection list page] (https://aatams.emii.org.au/aatams/detection/list):
* Change `Timestamp` header to `Detection Timestamp`.
* Get rid of `Transmitter Serial Number` column
* Add in `Installation Name`.

CSV:
* Change `timestamp` header to `detection timestamp`
* Get rid of `tag ID` column as redundant wi

[2016-04-28 00:31] astecken commented on #326
Thanks, even better ;)

[2016-04-29 00:07] xhoenner opened #329 "Bull shark tag duplicates"
See email below from Amy asking to delete duplicate tag IDs:

From: Amy Smoothey [amy.smoothey@dpi.nsw.gov.au]
Sent: Thursday, April 28, 2016 3:25 PM
To: Andre Steckenreuter; Phil McDowall
Cc: Vic Peddermors
Subject: Bull shark tag duplicates

Hi Andre & Phil,
See attached spreadsheet that lists the tags that are entered in twice for the project "movements of coastal sharks". If you could please d

[2016-04-29 00:10] xhoenner commented on #329
Most of these have been dealt with via https://github.com/aodn/aatams/pull/318. There are only the two tag IDs remaining (see below) that need to be addressed.

transmitter_id | tag_id
-------------- | ------
'A69-9002-14673' | 71373773
'A69-9002-1432' | 1394086

[2016-04-29 05:23] xhoenner commented on #240
In response to @astecken's code space vs. transmitter type constraints, here is below a breakdown of the current state of the db. I'll then produce a list of all the (A69) tags with the following code space 9002, 9004, 1601, and 9001 and wrongly assigned transmitter type based on your comment above so that you can advise what you want me to do.

@astecken, not sure whether anything can be done for

[2016-04-29 05:46] xhoenner commented on #240
And here's the breakdown for A69 tags, code spaces 1601, 9001, 9002, and 9004.

transmitter_id | transmitter_type | project_name
-------------- | ---------------- | ------------
A69-1601-8209 | ACCELEROMETER | Chondrichthyan monitoring of south-east Australia
A69-9001-16085 | TEMPERATURE | NSW DPI Movements of Coastal Sharks
A69-9001-16086 | PRESSURE | NSW DPI Movements of Coastal Sharks
A69-9002-

[2016-05-02 06:19] xhoenner opened #331 "Accidentally registered a person in the database twice"
See email below from Phil asking to delete duplicated user ID:

On 2 May 2016, at 11:16 AM, Phil McDowall <Phil.McDowall@sims.org.au> wrote:

Hi Xavier,

I have accidentally registered a person in the database twice and am hoping you can sort it out for me? Jaime McAllister was already registered to the database and I have registered him a 2nd time as Dr Jaime McAllister with the username jmcallis

[2016-05-05 06:33] xhoenner opened #333 "Remove Andrew Boomer from all projects"
From Phil McDowall:

On 5 May 2016, at 2:17 PM, Phil McDowall <Phil.McDowall@sims.org.au> wrote:

Hi Xavier,

I was asked by Rob to remove Andrew Boomer’s name from all projects he was involved with. Can you please do that for me when you get the chance?

Thanks
Phil.

Phil McDowall
IMOS Animal Tracking Facility
Sydney Institute of Marine Science (SIMS)
19 Chowder Bay Road, Mosman, NSW 2088
Ph: +

[2016-05-18 00:59] xhoenner commented on #122
I changed the label on this one from low to high priority as it has come to my attention that this issue impacts the content of CSV files users get to download via the [Tag Detections page] (https://aatams.emii.org.au/aatams/detection/list).

The ~100 species listed above have been manually entered by people due to the absence of constraints in the (Tag Release page) [https://aatams.emii.org.au/aa

[2016-05-26 04:19] #329 closed

[2016-05-26 04:20] #326 closed

[2016-05-26 04:32] #331 closed

[2016-06-14 10:37] astecken opened #338 "Calibrated sensor information"
Users are interested in the following enhancement:
Detections downloaded via the web app don’t take into account the calibration information you put in for each tag so it is unfortunately impossible at this stage to download calibrated sensor values.
What needs to be done currently:
What I could do for you Kate though is provide you with a csv that has the intercept and slope for each of your tags

[2016-06-14 21:54] xhoenner opened #339 "Delete erroneous entry for receiver VR2W-102023"
---------- Forwarded message ----------
From: Nathan Knott <nathan.knott@dpi.nsw.gov.au<mailto:nathan.knott@dpi.nsw.gov.au>>
Date: 16 May 2016 at 18:23
Subject: Re: QC Receiver Deployments
To: Andre Steckenreuter <Andre.Steckenreuter@sims.org.au<mailto:Andre.Steckenreuter@sims.org.au>>

Hi Andre,

Yes, Kye Adams has attempted to remove this entry for VR2W-102023 but hasn't been able to do so.  I h

[2016-06-15 00:36] xhoenner opened #341 "Ingest data in real-time"
See user request below asking whether it is possible to feed real-time detection data into the database.

From: Richard Talmage [richard.talmage@sharkmitigation.com]
Sent: Monday, May 30, 2016 12:59 PM
To: Andre Steckenreuter
Cc: Vic Peddermors; James Van Den Broek; Phil McDowall; hugh.pederson@vemco.com
Subject: RE: Clever Buoy Shark Detection System - Testing and Trial

Hi Andre,

For future rec

[2016-06-23 01:37] #123 closed

[2016-06-23 01:38] #270 closed

[2016-06-23 01:50] xhoenner commented on #319
Here's below what's left to do for you @astecken before we can close this issue:

item | andres_comment | xaviers_comment
---- | -------------- | ---------------
one of Fiona Small accounts | ask which one; anything entered under this account?: smallf or princess | Not dealt with this
A69-1601-12987 | 3 entries, delete 2 of those | Andre to advise which need to be removed
106927 | Charlie GSV unit

[2016-06-23 02:00] xhoenner commented on #240
@astecken I can change the remaining 1601 and 9001 tags to be pingers, could you contact the owners of 9002 and 9004 tags to know what sensor these tag IDs had on board?

[2016-06-23 02:01] xhoenner commented on #333
FYI this has been done @astecken

[2016-06-23 02:01] #333 closed

[2016-06-23 02:10] xhoenner commented on #291
Any progress on this issue @astecken?

[2016-07-13 01:53] xhoenner commented on #306
I was able to replicate this issue on the dev instance, see screenshot below (logged in as William Robbins).

![screen shot 2016-07-13 at 11 38 14 am](https://cloud.githubusercontent.com/assets/3443821/16789142/5685f578-48ee-11e6-9a10-3c260e304207.jpg)

When logged in as William Robbins (the person owning this project) or when logged out I'm unable to find the 'Wildlife Marine' organisation throug

[2016-07-13 02:17] xhoenner commented on #288
@julian1 the detection notification email seems to be managed by this [groovy script] (https://github.com/aodn/aatams/blob/master/grails-app/services/au/org/emii/aatams/detection/DetectionNotificationService.groovy).

To put in my two pennies worth @astecken I'd say only PIs get notified as the syntax code seems to suggest. I was able to trace it back to the following [bit of script] (https://gith

[2016-07-13 02:31] xhoenner commented on #246
Just to refine the above comment (and correct me if I'm wrong @astecken), what's needed here is to change the wording in the text highlighted in blue in the screenshot below taken after registering or updating a tag respectively via the [Tag creation page] (http://aatams-dev-instance/aatams/sensor/create) or [Tag index page] (http://aatams-dev-instance/aatams/tag/index).

![screen shot 2016-07-13

[2016-07-14 00:05] astecken commented on #246
Yep, that should do it, @xhoenner. Thanks!

[2016-07-27 04:32] astecken commented on #289
@xhoenner I'm sending you an example per email now.

[2016-07-27 04:39] astecken commented on #210
@xhoenner Just sent Russ another follow up email and cc'd you.

[2016-07-29 03:40] xhoenner commented on #289
An example of raw .vld file downloaded from a Minilog data logger was converted into a .csv file using the LoggerVue software from the VEMCO website Vemco.com/downloads/. To get the data out using this software, you have to 'Export Chart As' then select .csv format. If you wish to include raw data (without time correction) you might need to check 'Tools -> Options -> Files' and select 'Add-Minilog

[2016-07-29 03:43] #339 closed

[2016-07-29 03:43] xhoenner commented on #339
Sorted @astecken

[2016-08-01 03:29] xhoenner opened #345 "Unable to register new tags"
Reported by @astecken and Phil McDowall on 29/07/2016.

<h3> Steps to reproduce <h3>

Go to the [Animal Tracking web app] (https://animaltracking.aodn.org.au). Log in as an admin.
Then go to the [Tag creation page] (https://animaltracking.aodn.org.au/sensor/create). Enter the information indicated in the image below.
![screen shot 2016-08-01 at 1 24 48 pm](https://cloud.githubusercontent.com/asset

[2016-08-01 03:42] lwgordonimos commented on #345
@xhoenner @julian1 We will most likely need to rollback https://github.com/aodn/chef-private/pull/1991/files and https://github.com/aodn/chef/pull/372 unless the source of the "/aatams" URI(s) can be identified...

[2016-08-01 03:51] xhoenner commented on #345
that's fine with me @lwgordonimos.

[2016-08-01 04:03] julian1 commented on #345
Wouldn't a hibernate issue be more likely to be caused by some database inconsistency and the db updates, rather than shuffling around of uris?

[2016-08-01 04:10] lwgordonimos commented on #345
@julian1 It seemed very suspicious that the error refers to a "/aatams" URL. Unless it only occurred during the transition.

@xhoenner is this something you are able to replicate yourself currently?

[2016-08-01 04:13] julian1 commented on #345
@lwgordonimos Can you point me at the /aatams URL?.

Note that the au.org.emii.aatams stuff in the trace is just the java namespacing used in the app and is expected.

[2016-08-01 04:13] julian1 commented on #345
Ok, I see it.

[2016-08-01 04:20] xhoenner commented on #345
Would you mind trying to register those tags again @astecken and let us know if it's okay now or if you're still experiencing the same issue?

[2016-08-01 04:30] astecken commented on #345
Just checked. Issue remains.

[2016-08-01 05:08] julian1 commented on #345
probably best to wait and we can try to run up a copy to experiment on.

[2016-08-03 01:50] astecken commented on #319
@xhoenner
Please, delete Fiona Small's account with username 'princess'

Please, delete these two entries for A69-1601-12987:
A69-1601-12987   37018029 - Negaprion acutidens (Lemon Shark)	2013-12-16T17:35:00+0800	Mangrove Bay	21.9715°S 113.9431°E (datum:WGS 84)	Ningaloo Shark Nursery	16/12/2016
A69-1601-12987   37018029 - Negaprion acutidens (Lemon Shark)	2013-12-16T13:01:00+0800	Mangrove Bay	21.9

[2016-08-03 01:57] astecken commented on #291
It looks like that the remaining tag IDs with status recovered, retired, damaged, and lost are actually correct. There are several explanations from different researchers, e.g.  when lost, animals (manta rays) with external tags were resighted but didn't have any tags attached anymore, recovered means when a tag was returned by fishermen but not reused (yet).
@xhoenner I think we can close this is

[2016-08-03 02:01] astecken commented on #290
@xhoenner Russ commented on this issue:

Maybe it would, but you would have to kind of know in advance what time periods to check for active/inactive?  Then build it into a history for each station.  Usually people would I imagine select a box, and just grab all the data?

[2016-08-03 02:12] astecken commented on #240
@xhoenner Just send an email to Hugh to see if he can generate an extract from their DB to indicate which sensors we are dealing with.

[2016-08-03 03:13] astecken commented on #240
@xhoenner Apparently not straight forward for Hugh to extract this. I just started with the above list but it seems to be outdated. Could you generate an up-to-date one for me, pls?

[2016-08-03 23:28] #291 closed

[2016-08-04 00:04] xhoenner commented on #240
Here's the updated list you requested @astecken, 382 tags.

transmitter_id | transmitter_type | project_name
-------------- | ---------------- | ------------
A69-1601-8209 | ACCELEROMETER | Chondrichthyan monitoring of south-east Australia
A69-9001-16085 | TEMPERATURE | NSW DPI Movements of Coastal Sharks
A69-9001-16086 | PRESSURE | NSW DPI Movements of Coastal Sharks
A69-9002-10152 | PINGER | AAT

[2016-08-08 04:21] xhoenner commented on #319
Thanks @astecken, closing this issue as now listed [here] (https://github.com/aodn/aatams-content/issues/23)

[2016-08-08 04:21] #319 closed

[2016-08-09 02:17] xhoenner opened #346 "Error when sorting the Activity list"
Observed on the production web app

<h3> Steps to reproduce <h3>

Go to the [Animal Tracking web app] (animaltracking.aodn.org.au) and log in.
Then click on the activity button on the top right corner of the page or use [this link] (https://animaltracking.aodn.org.au/auditLogEvent/list) for direct access. Once the list is displayed, click on any of the first three column headers.

<h3> What happen

[2016-08-11 01:51] xhoenner commented on #204
Here are below the requirements for the soft delete functionality based on the above comments and content issues that @astecken has been unable to fix because of the removal of the delete feature.

1. Implement the soft delete feature wherever the hard delete functionality used to be available.

2. sysadmins must be able to deactivate (change status to inactive as for organisations and projects) o

[2016-08-11 03:13] xhoenner opened #347 "Impossible to change tag type from pinger to sensor or range test"
## Steps to reproduce

Go to the [Tags page](https://animaltracking.aodn.org.au/sensor/list) and click on the i icon to the left of any tag whose `Transmitter Type` is listed as 'PINGER' (_e.g._ for instance A69-1303-62731). Then click on the `Edit` button.

## What happens

Transmitter type 'PINGER' is not listed anywhere, therefore the only option for users to specify that their tag is actually

[2016-08-19 03:00] jonescc commented on #345
Problem occurs when using the Create Tag (or Sensor) page to add a new sensor to a tag that already exists, changing the device model at the same time.

[2016-08-21 23:22] bhasin85 commented on #345
Issue fixed.

![create tag](https://cloud.githubusercontent.com/assets/2552378/17840403/e8797ebc-6849-11e6-8962-ad441f612489.png)

[2016-08-25 22:55] xhoenner commented on #210
Jon actually wrote a whole bunch of scripts to bulk import data and metadata from the CSIRO acoustic tagging database, see https://github.com/aodn/aatams/commit/84bf9ba99af4f9672. The code was removed as it hadn't been used since the first import, but Jon thinks it is probably possible to bring it back. The corresponding documentation can be found [here] (https://github.com/aodn/aatams/tree/master

[2016-08-25 23:11] xhoenner commented on #345
Can this issue be closed then @bhasin85?

[2016-08-25 23:13] bhasin85 commented on #345
Sure :)

[2016-08-25 23:13] #345 closed

[2016-08-25 23:22] xhoenner opened #350 "Project field must be made mandatory in the Tag creation page"
When logged in, go to the [Tag creation page](https://animaltracking.aodn.org.au/sensor/create). The second field `Project` is not shown as mandatory, but, it is actually required by the web app since James Van Den Broek (James.VanDenBroek@sims.org.au) experienced the Grails error below when he tried to register a tag and leave the Project field blank.

![2016 08_grails runtime error_create tag](h

[2016-09-28 04:13] xhoenner commented on #122
114 tags have invalid species name, *i.e.* typed in or pasted by users instead of using the drop-down CAAB code list, see below @fjaine.

The first 13 tags have been re-assigned as being range test tags so I will delete the corresponding release for these. I suspect the next eight tags (AATAMS Cabbage Tree project) are also range test tags as species_name = 'control tag' but it'd be worth double c

[2016-09-28 06:39] fjaine commented on #347
List of duplicates created by this issue: https://github.com/aodn/aatams/issues/240#issuecomment-237412539

[2016-10-03 23:41] xhoenner commented on #346
As part of fixing this bug it'd be really worthwhile giving users the ability to filter activities by type and user. Eventually it'd be also valuable to record people's download activity through the tag detection page to have a better idea of how the web app is being used.

[2016-10-04 00:29] xhoenner commented on #240
Updated list for you @fjaine, generated using the following SQL query.

[code]

transmitter_id | transmitter_type | project_name
-------------- | ---------------- | ------------
A69-1601-8209 | ACCELEROMETER | Chondrichthyan monitoring of south-east Australia
A69-9001-16085 | TEMPERATURE | NSW DPI Movements of Coastal Sharks
A69-9001-16086 | PRESSURE | NSW DPI Movements of Coastal Sharks
A69-9002-

[2016-10-10 23:42] xhoenner commented on #122
@fjaine all good now, the above query doesn't return any row!

@julian1 how much work would it require to add constraints to the Tag Release page so that users have to use the existing, cleaned-up, drop down menu listing all CAAB-registered species? If we don't fix that up the same issue will come up again.

[2016-10-11 00:06] fjaine commented on #122
Nice one @xhoenner!

Agreed - Having species entry as a drop down menu of all available options will help prevent further erroneous entries by users

[2016-10-11 00:27] xhoenner commented on #241
@fjaine this issue is unfortunately still oustanding and is probably causing A LOT of duplicate detections. See below the list of 200 or so odd receivers that have invalid deployment or recovery information. Most of the problematic receiver metadata is likely due to the fact that currently the underlying database code matches detections based on initialisation to recovery time, whereas it would be

[2016-10-12 21:29] julian1 commented on #122
hey @xhoenner, does it just involve cleaning up the html to disable/remove links? I'm sure that can be done quickly - but would probably need to be prioritized by jpsr. Are you able to look at the template grails code yourself to perhaps identify what's needed?

[2016-10-13 01:10] xhoenner commented on #122
Species have been manually entered by people due to the absence of constraints in the [Tag Release page] (https://animaltracking.aodn.org.au/animalRelease/create), *i.e.* there's no drop down menu while there is for the project and sex fields. The corresponding code seems to sit in grails-app/views/animalRelease/create.gsp but I'm not sure whether modifying the species part of the code (see below)

[2016-10-13 01:31] xhoenner commented on #122
okay I've implemented that change on the dev-instance, which makes the web-app extremely slow as it must then retrieve the complete list of ~50,000 species in that drop-down menu. Any suggestion @julian1?

[2016-10-13 02:51] xhoenner commented on #122
@julian1 as discussed I modified the Animal.groovy file by adding the belongsTo constraint below but am now getting the following 500 error.

[code]

![screen shot 2016-10-13 at 1 48 24 pm](https://cloud.githubusercontent.com/assets/3443821/19335021/cb7af068-914b-11e6-9c5b-46cb94a8b9cb.jpg)

[2016-10-13 02:55] julian1 commented on #122
Animal only has a reference to species,
[code]
So try with just the species, eg,

[code]

[2016-10-13 03:02] xhoenner commented on #122
thanks, tried that but it didn't change the current behaviour of the web app in any way.

[2016-10-13 03:10] julian1 commented on #122
You can try putting in the reverse relationship eg. hasMany in class Species, pointing back at Animal. Otherwise, raise it with jpsr.

[2016-10-13 04:30] xhoenner commented on #122
Tried that too @julian1, thanks for the suggestion, however, it looks like it's going to be a JPSR matter...

[2016-10-14 06:01] xhoenner commented on #347
While fixing up this issue it would be *very* useful to add additional constraints to the database and/or web app based on the code space restrictions indicated below so that we don't end up with erroneously assigned tag type (see https://github.com/aodn/aatams/issues/240#issuecomment-251265242) in the future.

9002 sensor only
9004 sensor only
1601 pinger only
9001 pinger only

[2016-11-01 22:41] xhoenner commented on #246
Ideally we could have an automated process sending an email reminder to tag owners for them to add release metadata if their tags have been detected.

[2016-11-02 02:54] fjaine commented on #246
Good suggestion @xhoenner - or could a special statement be added to the automated emails sent to those researchers when detections for their 'unreleased' tags are uploaded? I'm thinking and extra column next to the 'data...' column with some something like:

"Deployment information for this tag has not been provided. Enter release details here [link to Tag release page]"

![automated email screen

[2016-11-10 22:30] xhoenner opened #352 "Multiple releases for same tag ID on different animals/species"
@fjaine has recently come across an issue where a researcher released the same tag on two different animals/species at different times (i.e. in 2012 and 2014).

The second tag/animal release is going to be in date conflict with the first one so there needs a new feature in the web app to be able to specify an end date for tag releases, similar to receiver deployments/recoveries.

Maybe simply with

[2016-11-16 03:07] fjaine commented on #352
The tag in question is A69-9001-30929 associated with the project 'FRDC WA commercial sharks'. I have added the second release details as a comment to the first release. Ultimately we will need to create another release for this tag with the details below:

Release Date: 13/8/2014
GPS: 21.3919 S, 114.7034 E
Species: Carcharhinus obscurus
Sex: Male
Size: 232 cm TOTAL LENGTH

[2016-11-16 21:23] xhoenner opened #353 "Some releases are not visible even when logged in as an admin"
## Steps to reproduce

Go to the animal tracking web app and log in as an admin. Then go to the [animal release page](https://animaltracking.aodn.org.au/animalRelease/list). In the 'Tag ID' field type A69-1601-9051.

## What happens

Whether you click on the only item in the drop down list or hit tab, the release for this tag is not visible.

## What should happen

When logged in as an admin, ever

[2016-11-23 22:47] xhoenner commented on #353
Might have been because the dev and prod db were out of sync, closing this issue for now.

[2016-11-23 22:47] #353 closed

[2016-11-28 22:29] xhoenner opened #354 "web app .kmz export not working"
@fjaine reported the following issue:

"I’m trying to export locations for various receivers/projects to visualise installations in Google Earth but I get a ’File not Found' error each time I press the KMZ export button in the web app - are you aware of this functionality not working?

--> https://animaltracking.aodn.org.au/installationStation/list

Cheers,

Fabrice"

Note that the kmz export for

[2016-11-29 05:00] xhoenner commented on #240
@julian1 the db constraints that need to be implemented to prevent this issue are as follows and refer to the code_map field in the `code_map` table. If I understand https://github.com/aodn/aatams/issues/240#issuecomment-214596557 correctly then the following constraints should be applied:

A69-1601 pinger only
A69-9001 pinger only
A69-9002 sensor only
A69-9004 sensor only

@fjaine our developers

[2016-11-29 05:09] xhoenner commented on #241
@julian1 the GUI logic should be as follows:
<b><i> Within each record (row) </b></i> --> initialisation_date < deployment_date < recovery_date
<b><i> Across records (row) </b></i> --> deployment_date (t+1) > recovery_date (t)

[2016-11-30 03:22] fjaine commented on #240
@xhoenner I have contacted Hugh with the above questions - will let you know when he gets back to me

[2016-12-01 01:25] bhasin85 opened #356 "Atoms Travis builds failing due to timeout"
https://travis-ci.org/aodn/aatams/builds/

[2016-12-01 03:51] fjaine commented on #240
@Xhoenner here is more detail based on Hugh's reply:

The below are correct:
1601 - pinger only
9001 - pinger only
9002 - sensor
9004 - sensor
9006 - sensor (new code space to come out in 2017)
1206 - very old code space. Although valid, 1206 was susceptible to false positives so the FDA analysis routine should be applied to any datasets containing these ID to see if they are false positives.

RAN

[2016-12-05 23:38] julian1 opened #357 "testSaveWithWithspaceAroundSerialNumber integration test is broken,"
[code]

[code]

[2016-12-08 05:28] fjaine commented on #347
See #240 for latest updates on code spaces:

The below are correct:
1601 - pinger only
9001 - pinger only
9002 - sensor
9004 - sensor
9006 - sensor (new code space to come out in 2017)
1206 - very old code space. Although valid, 1206 was susceptible to false positives so the FDA analysis routine should be applied to any datasets containing these ID to see if they are false positives.

[2016-12-08 22:44] julian1 opened #359 "travis fails due to sdkman"
I'm looking

[2016-12-13 03:14] julian1 commented on #356
[code]

[2016-12-20 23:34] xhoenner opened #362 "Slope, intercept and unit fields should be mandatory in the Tag creation or edit page"
Based on https://github.com/aodn/aatams-content/issues/44#issuecomment-264318081 the slope, intercept and unit for sensor tags should be made mandatory in the Tag creation or edit page, otherwise raw sensor values can't be transformed into meaningful values.

In short:
  * if transmitter_type IN ('TEMPERATURE', 'PRESSURE', 'ACCELEROMETER') then slope, intercept and unit can't be null
  * if transm

[2016-12-20 23:48] xhoenner opened #363 "Ping ID Code field becomes null when editing sensor and range test tags"
@bhasin85, relates to https://github.com/aodn/aatams/pull/361

## Steps to reproduce

When logged in, go to the [Tag list page](https://animaltracking.aodn.org.au/sensor/list). Click on the i icon next to a tag of type PINGER, *e.g.* A69-1303-62734. Then click on the Edit button. In another browser tab, go back to the tag list page and click on the i icon next to a tag of another type (e.g. 'RANGE

[2016-12-20 23:49] xhoenner commented on #362
@bhasin85, relates to https://github.com/aodn/aatams/pull/361

[2017-01-04 03:19] xhoenner commented on #362
Based on the sensor type, unit should also be automatically pre-filled.

[2017-01-04 03:51] xhoenner opened #364 "No auto-fill when creating a tagging event in the tag release page"
## Steps to reproduce

When logged in, go to the [Tag release list page](https://animaltracking.aodn.org.au/animalRelease/list). Click on the 'New Tag Release' button near the top. At the next screen, click on the 'Create Tagging' button. In the 'Serial Number' field (where it says autocomplete - start typing) type in 1244214 and then select this number from the drop down menu. Then erase this num

[2017-01-04 03:56] fjaine opened #365 "Merging Tag registration & Tag Release process"
A large part of the issue of registered tags missing release metadata (https://github.com/aodn/aatams-content/issues/40  and https://github.com/aodn/aatams-content/issues/49) were due to the fact that, as one researcher explained, it took too much time and effort to register the tags and then have to enter the deployment information in a different process. This has often resulted in users starting

[2017-01-04 03:58] xhoenner commented on #364
Digging a bit deeper to see where the issue may lie I found that a serial number doesn't show in this drop down menu list if the tag status is 'DEPLOYED'.

1060777 is being listed in the drop down menu as its status is 'NEW'. The issue here, however, seems that some records listed in the `device` table don't show in the `sensor` table (see SQL query below returning a total of 44 records). I'm unsu

[2017-01-04 04:43] xhoenner commented on #240
Currently we can't assign two transmitters having different code spaces to a same tag @fjaine: when clicking on 'Add sensor' in the `Tag Edit` page users can only enter a 'Ping ID Code'. I would suggest adding a 'Code Map' field to this pop-up window when working on improvements listed in https://github.com/aodn/aatams/issues/362. This enhancement is required if we ever want to be able to assign t

[2017-01-04 04:44] xhoenner commented on #362
Also worth addressing https://github.com/aodn/aatams/issues/240#issuecomment-270293815 when working on this issue.

[2017-01-04 04:47] fjaine commented on #292
Hi there,

I have recently received a few inquiries from community members about the right way to reference IMOS, ATF and data issued from the database in scientific papers.

It would be good to add a citation template for users to follow on the web app, somewhere on the Homepage or in a new tab in the left menu maybe?

Something like this (feel free to edit as you see appropriate):

**Please ackn

[2017-01-04 23:19] xhoenner commented on #241
@fjaine when @julian1 deploys the fix for this issue there will still be some receiver deployments and recoveries with erroneous dates (i.e. not complying with the logic in my comment just above). To identify those invalid entries I've modified @jkburges's SQL code so that the deployment_date is now being used instead of the initialisation_date field. That gave me the list below of < 100 receiver

[2017-01-05 00:54] atkinsn commented on #292
Hi Fabrice,

I was going to start by pointing out that we have some of this in a aatams github issue already - but just noticed its this one!

So as you can see above - one of the things we need to achieve in the future is to be able to identify who are the citable parties in relation to data that people download - but I am sure we will get there in the future!

We do currently provide a suggestio

[2017-01-05 05:06] fjaine opened #366 "Tag STATUS field creating data-related issues"
@xhoenner and I just noticed that the option for users to specify the tag 'STATUS' in a dropdown menu is creating quite a few issues:

(1) As we understand, the way it works is that when a tag is first registered in the database its status will be as 'NEW'. After the same tag has been released the tag status will automatically change to 'DEPLOYED'.

However, when looking at some duplicate tags reg

[2017-01-06 00:03] julian1 opened #367 "unit and integration test classes share the same namespacing"
In intellij this prevents the IDE from successfully compiling the project

[2017-01-08 21:52] julian1 opened #369 "Jenkins build fails"
https://jenkins.aodn.org.au/job/aatams_systest/28/console

[2017-01-08 21:54] julian1 commented on #367
To compile the project within Intelij I have to delete these directories. However this makes it difficult to manage branches when git shows so many staged file deletions.

[2017-01-08 21:55] anguss00 commented on #369
Fixed now, try again @julian1

[2017-01-08 22:02] julian1 commented on #369
like magic @anguss00 !

[2017-01-08 22:02] anguss00 commented on #369
Boom, that's how we roll @julian1

[2017-01-09 00:58] julian1 opened #370 "Google analytics script is served for non-production instances"
eg. view-source:http://aatams-test-instance/aatams/. Tag id is the same as production.

[2017-01-09 01:11] lwgordonimos commented on #370
Hardcoded in https://github.com/aodn/aatams/blob/master/grails-app/views/layouts/main.gsp#L111

Not sure the most appropriate way to extract it... Portal derives the per-environment value from config-managed (Chef or EB) Portal.groovy...

[2017-01-09 01:13] lwgordonimos commented on #370
Templated based on presence/absence of tracking ID: https://github.com/aodn/aodn-portal/blob/master/grails-app/views/_google_analytics.gsp this could be ported over to here to work similarly?

[2017-01-09 03:54] julian1 commented on #370
yes, that looks much better.

[2017-01-09 03:54] #369 closed

[2017-01-09 20:44] xhoenner opened #372 "Can't edit receiver deployment anymore"
Go to the [receiver deployment page](https://animaltracking.aodn.org.au/receiverDeployment/list) or try editing a [particular receiver deployment](https://animaltracking.aodn.org.au/receiver/show/58827175). Click on the i icon to the left and you'll get the error below, which probably arose from fixing #241 through https://github.com/aodn/aatams/pull/358 @julian1.

![screen shot 2017-01-10 at 7 40

[2017-01-09 23:32] fjaine commented on #372
Yep @xhoenner we noted the same error this morning when checking on some receiver details for our fieldwork tomorrow. It's pretty urgent.

[2017-01-10 01:25] bhasin85 commented on #347
Fixed by [#361](https://github.com/aodn/aatams/pull/361)

[2017-01-10 01:25] #347 closed

[2017-01-10 02:16] #122 closed

[2017-01-10 02:39] xhoenner opened #373 "Implement constraints on transmitter type based on code map value"
A lot of tags have been assigned to a wrong type of transmitter (see https://github.com/aodn/aatams/issues/240#issuecomment-251265242) and there's currently no logic in the GUI constraining transmitter type based on a particular code map value. The logic detailed below needs to be implemented when users create a tag or edit an existing one.

@fjaine indicated in https://github.com/aodn/aatams/issu

[2017-01-10 02:52] xhoenner commented on #241
The UI has now been fixed via https://github.com/aodn/aatams/pull/358. I'm therefore closing this issue and have migrated the remaining erroneous records to https://github.com/aodn/aatams-content/issues/56.

[2017-01-10 02:52] #241 closed

[2017-01-10 05:42] xhoenner commented on #240
This will be fixed with #347 and #373. I'm migrating the list in https://github.com/aodn/aatams/issues/240#issuecomment-264071906 to https://github.com/aodn/aatams-content/issues/57.

[2017-01-10 05:42] #240 closed

[2017-01-10 05:47] jkburges commented on #240
Out of interest, why is https://github.com/aodn/aatams-content private?

[2017-01-10 06:26] xhoenner commented on #240
Originally it was created to avoid exposing inadvertently protected or embargoed data. We're mostly dealing with metadata issues in there and have left all issues related to the web app and design of the database in the aatams repo.

[2017-01-10 23:03] xhoenner opened #374 "Ping code and code map should be unique for all 1601 and 900x tags"
Apart from 1105 and 1303 code maps which have ping codes that have been highly replicated, the ping code and code map combination (= transmitter_id) should be unique for each tag. There should consequently never be two identical transmitter_id values in the `sensor` table for any 1601 or 9001, 9002, 9004, or 9006 tags.

This lack of constraint in the UI created the data errors listed in https://gi

[2017-01-11 00:09] xhoenner opened #375 "Dual sensor tags on 1105/1303 code spaces"
Stemming from @fjaine's https://github.com/aodn/aatams/issues/240#issuecomment-264071906. 1105 and 1303 code spaces had highly replicated ping codes, and in the case of dual sensor tags on those code spaces, it was common for a same tag to have one sensor on the 1105 code space and its other sensor on the 1303 code space.

For tags that have been created using the 1105 or 1303 code space it should

[2017-01-11 00:33] xhoenner opened #376 "Several issues when creating a new tag release"
Log in to the web app and go to the [Tag release creation page](http://aatams-dev-instance/aatams/animalRelease/create).

### 1. Leave species blank and fill in all other information...

... including sex, capture locality, capture location and Create Tagging (I used serial number 1163565). Then click on the Create button at the bottom of the page. An error appears at the top stating 'Species or e

[2017-01-11 21:15] julian1 opened #377 "logs contain non-critical exceptions that make them harder to debug/read."
It's annoying having to scan past this 50x times a day,

[code]

[2017-01-11 21:27] julian1 opened #378 "aatams compile and startup is very slow"
With *no* code modifications, and after hitting the intellij debug button, it takes over a minute before the webapp answers in the browser - on my quad i7.

Session cookies are not persisted, so further time is needed to perform login - if admin specific functionality is being developed.

In comparison - Geoserver (not geoserver_build), a project with probably 100x the codebase size takes around 2

[2017-01-11 22:24] julian1 commented on #372
https://github.com/aodn/aatams/compare/fix_372?expand=1

[2017-01-11 22:29] julian1 commented on #372
https://github.com/aodn/aatams/pull/379

[2017-01-11 23:41] julian1 commented on #372
https://github.com/aodn/aatams/pull/380

[2017-01-13 00:10] #372 closed

[2017-01-16 00:26] bhasin85 opened #383 "AATAMS build unstable on Jenkins"

[2017-01-17 23:16] fjaine commented on #373
@xhoenner A180 tags are similar tags but transmit at 180 kHz instead 69 kHz (hence A180 instead of A69) - they still are valid tag code spaces/IDs, however much less common in our community as they are generally for different types of applications (i.e. smaller fish, freshwater systems, etc.).

They are still valid though.

[2017-01-18 03:26] fjaine commented on #375
@xhoenner I have stumbled upon a bunch of transmitters with 1005 code spaces that have exactly the same ID codes and that belong to two researchers working in the same region (NSW)... The only difference being the tags' serial numbers.

This could create a bit of an issue when downloading detection data, unless there was a way to add a column to the spreadsheet with the tag serial number? Then we

[2017-01-18 03:41] fjaine commented on #375
Also, as a side note - Hugh explained to me the other day that the wording 'code map' is actually wrong: 'code map' is specific to receivers, whereas 'code space' is the right term for transmitters. Might need to edit this on the web app at some stage..?

Here is what he explained:

Just some clarification for you first on Code MAPs vs Code Spaces so you’re on the right track from the get go. The

[2017-01-18 21:31] xhoenner opened #384 "New pinger gets automatically created when clicking on Update in Tag Editing page"
## Steps to reproduce

When logged in, go to the [Tags page](https://animaltracking.aodn.org.au/sensor/list). Look for any tags whose transmitter type is not PINGER and click on the i icon next to it, e.g. https://animaltracking.aodn.org.au/tag/show/2240252. Then click on the Edit button, then at the next page on the Update button

## What happens

Two things:
  1. An error gets thrown at users be

[2017-01-22 23:44] #373 closed

[2017-01-23 03:01] xhoenner commented on #283
Just an update as a year's gone by since I wrote the above description of the issue and I've done quite a lot of work to improve the QC algorithm originally described above.

A combination of R scripts managed by a bash script do the following, on a weekly basis:
1. Restore a copy of the production database onto the aatams-dev-instance machine using backups stored on aws.
2. A list of all register

[2017-02-09 05:46] xhoenner commented on #328
@fjaine noted in https://github.com/aodn/aatams-content/issues/61#issuecomment-278551336 that it's also currently impossible to download all detections for tags deployed under a same project. This new filter would be very useful for researchers who deployed a bunch of tags under a single project and want to download all available detections.

[2017-02-09 05:51] xhoenner commented on #352
This is actually already implemented in the database (and web app) through the `surgery_with_end_date` view which is then joined to the `detection` table based on whether a detection falls within a tag deployment ('surgery_timestamp') start and end dates.

[2017-02-09 05:51] #352 closed

[2017-02-13 23:29] xhoenner opened #385 "'Custom Validation' ERROR when deploying a receiver"
Migrated from https://github.com/aodn/aatams-content/issues/60, originally reported by @fjaine.

@xhoenner I tried to deploy two receivers as part of the AATAMS Glenelg installation:

Receiver 101686: deployed 4/8/16 at GL 7 Station
Receiver 101679: deployed 4/8/16 at GL 8 Station
There is no deployment time available for these deployments (not recorded on the day) so I left it as 00:00 UTC.

When

[2017-02-13 23:29] xhoenner commented on #385
@pblain, @smancini tested on aatams-dev-instance and consistently got the same error as in @fjaine's comment above, no matter which receiver I selected. It seems therefore impossible for users to create a new receiver deployment record, hence this issue should be a VIT.

[2017-02-13 23:42] fjaine commented on #385
@xhoenner @smancini @pblain can you please update me on where we are at with this issue - any idea where it arises from and when we should have it resolved? I have received emails from another user reporting the issue and I need to get back to them.

[2017-02-14 00:00] julian1 commented on #385
If I had to guess, I would suspect, https://github.com/aodn/aatams/commit/e250b9664ffa2ee02a85c8769186d783604b08d0. There is complicated validation between deploymentDateTime and initialisationDateTime.

[2017-02-14 00:27] xhoenner commented on #385
@fjaine, waiting to hear from @pblain who's attending the IMOS planning meeting this week. So not sure anyone will look at this issue before next week...

[2017-02-19 23:58] fjaine commented on #385
@xhoenner @pblain any update on this?

We still have users waiting to update their receiver deployment details, and our team has come back from the field with quite a few receiver deployments to enter too.

[2017-02-20 00:06] xhoenner commented on #385
One of our developers will look at this issue this week, I know it's a pressing matter for you guys so we'll try to get that fixed ASAP.

[2017-02-20 04:42] xhoenner opened #386 "Validation tools needed when releases or deployments occur outside of the Australian region"
At many places in the web app users are asked to input latitude/longitude coordinates to indicate where:
  * a station is, see the [Installation Station page](https://animaltracking.aodn.org.au/installationStation/list).
  * a receiver is deployed and recovered, see the [Receiver Recovery page](https://animaltracking.aodn.org.au/receiverRecovery/list).
  * an animal has been captured and released,

[2017-02-20 05:19] fjaine commented on #386
100% agreed @xhoenner !

Maybe for tag releases this could be linked to ALA species distribution zones? If release is specified outside of the known region for the species then a  pop-up window should ask the user whether this is correct. I've found a few releases on land and way out at sea recently, so this should prevent this kind of errors?

[2017-02-20 05:44] xhoenner commented on #386
This would be even nicer but I suspect trickier to implement. Something we might want to consider down the track though!

[2017-02-23 00:20] julian1 commented on #385
GL 7
VR2W-101686

[2017-02-23 03:37] julian1 commented on #385
https://github.com/aodn/aatams/compare/fix_385?expand=1

Validation has been relaxed in the case of a new deployment - where we simply verify that all prior deployments have a recovered status. This prevents the user from being able to create an entry for a new deployment if the receiver was never recovered.

It would be much nicer if these checks were enforceable at the database level rather than

[2017-02-23 03:42] fjaine commented on #385
Great! Thanks @julian1

Trying to deploy a receiver now to check that it's all good :)

[2017-02-23 03:47] fjaine commented on #385
Still getting an error message @julian1
![database deployment error](https://cloud.githubusercontent.com/assets/22288128/23244059/e706e50a-f9d6-11e6-9e0b-e34930dc9ba7.jpg)

[2017-02-23 04:00] julian1 commented on #385
Hi @fjaine I've deployed to an internal server for @xhoenner to test. If he says ok, then I'll deploy it to production tomorrow.

[2017-02-23 06:16] #385 closed

[2017-02-23 20:24] julian1 commented on #385
deployed to https://animaltracking.aodn.org.au/

[2017-02-28 00:07] julian1 commented on #359
one hour is not enough time to download all the dependencies. The maven/grails cache that persisted across builds was lost at some point  - and it's not built successfully since then.

[2017-03-15 22:37] julian1 commented on #383
Is this fixed?

[2017-03-16 03:55] fjaine commented on #365
@xhoenner this has been approved by the ATF Data Committee as a necessary step to:
1) streamline database user experience
2) have all mandatory tag + release metadata entered at once by the user
3) prevent individuals from only registering their tags and benefiting from detection notifications without actively contributing to the IMOS ATF community

What is the likelihood of getting this implement

[2017-03-16 04:10] fjaine commented on #365
Fields that will need to be made mandatory:

**Registration:** project, tag serial number, model, transmitter type, tag ID & ping code and code space for each sensor, slope and intercept (if sensor tags), and expected battery life (necessary for metadata exchange with OTN). Sensor units should be automatically pre-filled based on sensor type entered.

**Release:** species, sex (incl. ‘unknown’), r

[2017-03-16 04:15] fjaine commented on #210
@xhoenner the ATF Data Committee asked for updates on this - can you let me know where we are at and whether this could be possibly actioned in the coming months?

[2017-03-16 04:18] fjaine commented on #210
Aside from what @ktattersall had mentioned above as reasons for implementing this change, I also see this as a great way to ensure:
- standardisation of data across users/projects
- prevention of user-induced errors during the export process via the manufacturer's software (i.e. time conversion, etc.)

[2017-03-17 17:20] jdpye commented on #210
Templates/examples for automatic VRL upload are available in some of OTN's GitLab repos, as well as a GLATOS tool that's written into their R package. They leverage the Vemco ULFX format, and so might have to be revisited when Vemco releases Fathom officially as a VUE replacement.

[2017-03-23 04:27] xhoenner commented on #210
Thanks @jdpye for pointing that out, I wasn't aware of those resources.

@fjaine no work's been done yet on our side towards implementing this feature in the web app as I've been told it would require at least a couple of months of work for one of our software engineers.

[2017-03-28 04:22] xhoenner opened #390 "Receiver/Station GPS location automated pre-fill for new Receiver Deployments"
Originally opened by @fjaine in https://github.com/aodn/aatams-content/issues/62.

Some mistakes have been made in the past with GPS locations when creating new Receiver Deployments, mostly due to the following:
- When creating a new Receiver Deployment, the user first selects the Station name
- Based on the Station name selected, the GPS location for this station automatically pre-fills as the Re

[2017-04-12 04:15] xhoenner commented on #350
Resolved by https://github.com/aodn/aatams/pull/351

[2017-04-12 04:15] #350 closed

[2017-04-12 04:16] xhoenner commented on #356
Has this been resolved @bhasin85?

[2017-04-12 04:21] xhoenner commented on #246
This would be unnecessary if merging the tag registration and release processes, https://github.com/aodn/aatams/issues/365

[2017-04-12 04:22] bhasin85 commented on #356
Not yet @xhoenner

[2017-04-12 04:34] xhoenner commented on #210
Note that 257 VRL files have been uploaded to the web app historically (see the Receiver Export page when logged in). All are flagged as having been 'PROCESSED' under the Status field, however, no detection was extracted from any of those files.

@fjaine it'd be worth looking at whether users who uploaded .vrl files subsequently uploaded the transformed .csv version. If not, which is likely to be

[2017-04-12 04:39] bhasin85 commented on #362
@xhoenner I thought it was covered in [#382](https://github.com/aodn/aatams/pull/382)

[2017-04-12 04:46] xhoenner commented on #362
thanks @bhasin85, I don't think it's been covered by #382. The latter was about constraining tag type (e.g. PINGER or SENSOR) based on code map values. The present issue is about constraining users to enter slope/intercept values when registering or editing sensor tags.

[2017-04-12 05:47] fjaine commented on #210
@xhoenner a good compromise would be to restrict the file format that users can upload to the webapp/database t prevent this from happening again in the future.

For example, ensuring that all detections are uploaded as CSV files, and whenever a user tries to upload a VRL (or other format) an error or pop up message appears telling the user that they must upload their detections as a csv file.

[2017-04-18 02:28] bhasin85 commented on #383
@julian1  Not yet.

[2017-05-12 02:06] fjaine opened #391 "Detections from mobile receivers deployed on Gliders"
@xhoenner I have recently discussed with several groups deploying gliders for oceanographic observations who have on some occasions deployed Vemco VR2-W receivers and [VMT transceivers](https://vemco.com/products/vemco-mobile-transceiver-vmt/) (new mobile transmitter that picks up detections from nearby tagged animals).

1. It would be good to work out a way to integrate this 'mobile' detection da

[2017-05-24 02:15] xhoenner commented on #391
@fjaine this won't be straight forward to implement as the current `detection` table doesn't have latitude/longitude coordinates, only 'receiver_name' which is matched with user-entered records from several receiver tables.

Send me the above mentioned data file by email please so that I can work out a solution with our development team.

[2017-06-05 23:25] xhoenner commented on #370
Can be closed @lwgordonimos?

[2017-06-06 01:39] anguss00 commented on #370
Yes, I fixed this one @xhoenner. Closing

[2017-06-06 01:39] #370 closed

[2017-07-04 22:38] jonescc commented on #359
Fixed by https://github.com/aodn/aatams/pull/394

[2017-07-04 22:41] jonescc commented on #356
Fixed by https://github.com/aodn/aatams/pull/394

[2017-07-04 22:41] #356 closed

[2017-07-04 23:21] jonescc commented on #378
Works fine for me after applying required dependency changes in https://github.com/aodn/aatams/pull/394.

I will note however that the intellij grails plugin only supports grails 2.0.0 onwards but this doesn't appear to affect compilation/debugging which uses the grails 1.3.7 compiler.

[2017-07-04 23:21] #378 closed

[2017-07-06 01:39] fjaine commented on #210
In addition to the above, I have just noted that in the [detection upload page](https://animaltracking.aodn.org.au/receiverDownloadFile/createDetections), the file selection dropdown field allows the user to select VRL and RLD file formats, which are not processed to date by the web app (detections don't seem to be added to the already existing database detections).

If the VRL upload cannot be ac

[2017-07-11 04:27] xhoenner opened #396 "Tag Expected Life Time (days) should be mandatory when registering a new tag"
Such an improvement is required for:
  * improving the quality control algorithm, especially for historical duplicate tag IDs.
  * OTN as this metadata field is not optional in their database structure.

While 50 % of registered tags are currently missing this information, implementing this constraint at the GUI level would prevent users from not filling in this field. This change should be implem

[2017-07-11 23:56] jonescc commented on #367
Fixed by 527979980dda601019e4d17dfdd346cb0ef8bbbe

[2017-07-11 23:56] #367 closed

[2017-07-12 01:22] jonescc opened #399 "Exceptions in log when creating new tags"

[2017-07-12 01:27] jonescc commented on #399
Believe this was introduced by https://github.com/aodn/aatams/commit/acd4f5190655b5f72cf96753ead78ffb36f28550

[2017-08-23 21:49] xhoenner opened #403 "Generate error when uploading detection files as Receiver Events"
A user recently mis-uploaded three csv detection files through the [upload receiver event page](https://animaltracking.aodn.org.au/receiverDownloadFile/createEvents) instead of the [upload tag detection page](https://animaltracking.aodn.org.au/receiverDownloadFile/createDetections).

Doing so didn't return an error for the user during the upload, which suggests there's a lack or absence of constra

[2017-08-23 22:14] xhoenner commented on #403
For future references, here's an example of a receiver event file

Date/Time | Receiver | Description | Data | Units
--------- | -------- | ----------- | ---- | -----
2016-02-08 23:31:44 | VR2W-114415 | Initialization | 114415
2016-02-08 23:31:44 | VR2W-114415 | PC Time | 2016-02-09 10:31:44 UTC+11:00
2016-02-08 23:31:44 | VR2W-114415 | 69 kHz decoding map | MAP-113
2016-02-08 23:31:44 | VR2W-1144

[2017-08-25 05:30] xhoenner commented on #292
An update from @fjaine on this issue which supersedes https://github.com/aodn/aatams/issues/292#issuecomment-270294118.
* change the descriptive text about the database on the homepage as it's outdated, @fjaine to provide more details.
* the paragraphs below should be added to the web app homepage, into the Acknowledgments box. Note the link to the attached pdf in the last sentence. @fjaine you'll

[2017-08-30 06:06] atkinsn commented on #292
@xhoenner will reinitiate conversation about this amongst the relevant peoples here. Apologies for the radio silence our end.

[2017-08-30 22:34] jachope commented on #292
Jac & Seb discussed this a few days ago.
The issue needs to be assigned to Seb and he will add it to the Top of the Backlog so that the App changes can be included into an iteration.

[2017-09-07 00:12] xhoenner commented on #359
Re-opening this issue as none of the PRs can be merged due to an error in the Travis build. See https://travis-ci.org/aodn/aatams/builds/272356656?utm_source=github_status&utm_medium=notification for instance.

 Could this be a similar issue to https://github.com/aodn/aatams/pull/394 @bhasin85 @jonescc ? Let me know if you think this can't be fixed easily and thus needs to be considered for the ne

[2017-09-07 01:56] #357 closed

[2017-09-07 02:17] xhoenner commented on #364
Closing as this is actually a data content issue, see https://github.com/aodn/aatams-content/issues/71.

[2017-09-07 02:17] #364 closed

[2017-09-07 02:23] xhoenner commented on #383
Is this fixed now @bhasin85?

[2017-09-07 02:25] bhasin85 commented on #383
@xhoenner  Last build was stable. We can close this one.

[2017-09-07 02:25] #383 closed

[2017-09-07 06:35] bhasin85 commented on #359
@xhoenner The issue is with sdkman installation and not with the maven dependencies. I would suggest you to open a new issue.

_**Build Error**_

[2017-09-07 22:16] xhoenner opened #404 "Issue with sdkman installation blocking Travis build"
See https://travis-ci.org/aodn/aatams/builds/272356656?utm_source=github_status&utm_medium=notification and refer to @bhasin85's comment https://github.com/aodn/aatams/issues/359#issuecomment-327701197.

@smancini could we prioritise this issue for the next iteration please?

[2017-09-07 22:17] xhoenner commented on #359
Thanks @bhasin85, closing this issue and opened a new one --> https://github.com/aodn/aatams/issues/404

[2017-09-07 22:17] #359 closed

[2017-09-07 23:15] xhoenner commented on #249
@pblain the set of [QC scripts](https://github.com/aodn/aatams/tree/master/scripts/R/QC) that I have developed would also greatly benefit for security and accurateness sakes from a database extract based on the web app and database logic rather than an ad-hoc SQL query. This is particularly relevant if we were to run this QC algorithm not just as a one-off like now but thinking of an annual/bi-ann

[2017-09-07 23:58] jonescc commented on #359
Another instance of https://en.wikipedia.org/wiki/Software_rot - not the same as the one above.

[2017-09-08 00:51] pblain commented on #249
The official position is that we shouldn't be bypassing security and running extracts against the backend database. I realise that it happened once, and I understand the reasons it was done, but I'm trusting that no more are done until we take stock and decide what to do about this predicament.
I documented how we should implement the AATAMS extract process a few years ago. If more extracts like t

[2017-09-08 00:54] pblain commented on #249
... actually "death spiral" isn't the right metaphor - it's more of a slow painful lingering death.

[2017-09-08 05:12] xhoenner commented on #363
This is actually the expected behaviour, however:
1/ the `Ping ID Code` field should not be editable for sensor tags ( i.e. 'TEMPERATURE', 'PRESSURE' or 'ACCELEROMETER)
2/ for 'RANGE TEST' tags the behaviour should be the same as for 'PINGER' tags

[2017-09-08 05:21] fjaine opened #405 "CAAB species names listing - updates"
@xhoenner I have been contacted by a user whose study species has recently undergone taxonomic revision and has been assigned a new scientific name. The issue is that the database currently shows its 'old' name.

I was therefore wondering if (or how often) the CAAB species name listing is updated to reflect the latest taxonomic revisions? If not it might be worth considering in the future.

In the

[2017-09-13 22:52] xhoenner opened #407 "Prevent tag releases with no morphological measurements"
For over 1,100 out of ~5,500 animal releases there are no measurements stored in the database, refer to https://github.com/aodn/aatams-content/issues/49. This absence of morphological data on tagged animals is more likely due to users not entering their measurements than users not having measured or weighed released animals.

To prevent this kind of data error there should be a box that users coul